# Building a Relational Database Part 2

- toc: true
- badges: true
- comments: true
- image: images/PostgresSQL.png

## Using DDL, create each of the relations in the postgres server.

In [5]:
import getpass
mypasswd = getpass.getpass()
username = 'dlr6w3'
host = 'pgsql.dsa.lan'
database = 'dsa_student'

········

In [6]:
##Create connection
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine

postgres_db = {'drivername': 'postgres',
               'username': username,
               'password': mypasswd,
               'host': host,
               'database' :database}
engine = create_engine(URL(**postgres_db), echo=True)
del mypasswd

In [7]:
query = """

DROP TABLE IF EXISTS crime CASCADE;

CREATE TABLE crime(
    crime_id     INT NOT NULL UNIQUE,
    iucr         VARCHAR(10) NOT NULL,
    fbi          VARCHAR(10) NOT NULL,
    primary_desc VARCHAR(50) NOT NULL,
    description  VARCHAR(100) NOT NULL,
    PRIMARY KEY (crime_id)
) 


"""

with engine.connect() as connection:
    res = connection.execute(query)
    print(res)

2020-12-18 09:56:14,847 INFO sqlalchemy.engine.base.Engine select version()
2020-12-18 09:56:14,848 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 09:56:14,850 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-12-18 09:56:14,851 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 09:56:14,853 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-18 09:56:14,854 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 09:56:14,855 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-18 09:56:14,855 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 09:56:14,856 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-12-18 09:56:14,857 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 09:56:14,858 INFO sqlalchemy.engine.base.Engine

DROP TABLE IF EXISTS crime CASCADE;

CREATE TABLE crime(
    crime_id     INT NOT NULL UNIQUE,
    iucr         VARCHAR(10) NOT NULL,
    fbi          VARCHAR(10) NOT NULL,
    primary_desc VARCHAR(50) NOT NULL,
    description  VARCHAR(100) NOT NULL,
    PRIMARY KEY (crime_id)
)



2020-12-18 09:56:14,859 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 09:56:14,874 INFO sqlalchemy.engine.base.Engine COMMIT
<sqlalchemy.engine.result.ResultProxy object at 0x7f84c66f3e80>

In [8]:
query = """

DROP TABLE IF EXISTS location CASCADE;

CREATE TABLE location (
    location_id             INT NOT NULL UNIQUE,
    location_description    VARCHAR(50) NOT NULL,
    block                   VARCHAR(50) NOT NULL,
    beat                    INT NOT NULL,
    district                INT NOT NULL,
    ward                    FLOAT NOT NULL,
    community_area          FLOAT NOT NULL,
    latitude                FLOAT NOT NULL,
    longitude               FLOAT NOT NULL,
    x_coordinate            FLOAT NOT NULL,
    y_coordinate            FLOAT NOT NULL,
    PRIMARY KEY (location_id)
    
)

"""

with engine.connect() as connection:
    res = connection.execute(query)
    print(res)

2020-12-18 09:56:22,560 INFO sqlalchemy.engine.base.Engine

DROP TABLE IF EXISTS location CASCADE;

CREATE TABLE location (
    location_id             INT NOT NULL UNIQUE,
    location_description    VARCHAR(50) NOT NULL,
    block                   VARCHAR(50) NOT NULL,
    beat                    INT NOT NULL,
    district                INT NOT NULL,
    ward                    FLOAT NOT NULL,
    community_area          FLOAT NOT NULL,
    latitude                FLOAT NOT NULL,
    longitude               FLOAT NOT NULL,
    x_coordinate            FLOAT NOT NULL,
    y_coordinate            FLOAT NOT NULL,
    PRIMARY KEY (location_id)

)


2020-12-18 09:56:22,561 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 09:56:22,574 INFO sqlalchemy.engine.base.Engine COMMIT
<sqlalchemy.engine.result.ResultProxy object at 0x7f84c66f3a20>

In [10]:
query = """

DROP TABLE IF EXISTS crime_report CASCADE;

CREATE TABLE crime_report(
    case_id        VARCHAR(12) NOT NULL UNIQUE,
    case_number    VARCHAR(12) NOT NULL,
    crime_id       INT NOT NULL,
    location_id    INT NOT NULL,
    arrest         BOOL NOT NULL,
    domestic       BOOL NOT NULL,
    case_date      TIMESTAMP NOT NULL,
    case_year      INT NOT NULL,
    updated_on     TIMESTAMP NOT NULL,
    PRIMARY KEY (case_id),
    FOREIGN KEY (crime_id) REFERENCES crime(crime_id),
    FOREIGN KEY (location_id) REFERENCES location(location_id)


)

"""

with engine.connect() as connection:
    res = connection.execute(query)
    print(res)

2020-12-18 09:57:47,375 INFO sqlalchemy.engine.base.Engine

DROP TABLE IF EXISTS crime_report CASCADE;

CREATE TABLE crime_report(
    case_id        VARCHAR(12) NOT NULL UNIQUE,
    case_number    VARCHAR(12) NOT NULL,
    crime_id       INT NOT NULL,
    location_id    INT NOT NULL,
    arrest         BOOL NOT NULL,
    domestic       BOOL NOT NULL,
    case_date      TIMESTAMP NOT NULL,
    case_year      INT NOT NULL,
    updated_on     TIMESTAMP NOT NULL,
    PRIMARY KEY (case_id),
    FOREIGN KEY (crime_id) REFERENCES crime(crime_id),
    FOREIGN KEY (location_id) REFERENCES location(location_id)


)


2020-12-18 09:57:47,376 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 09:57:47,388 INFO sqlalchemy.engine.base.Engine COMMIT
<sqlalchemy.engine.result.ResultProxy object at 0x7f84c66a8710>

## Show the table definitions using psql or querying information_schema.colums catalog

Crime Table:

dsa_student=> \d+ crime
                                              Table "dlr6w3.crime"
    Column    |          Type          | Collation | Nullable | Default | Storage  | Stats target | Description
--------------+------------------------+-----------+----------+---------+----------+--------------+-------------
 crime_id     | integer                |           | not null |         | plain    |              |
 iucr         | character varying(10)  |           | not null |         | extended |              |
 fbi          | character varying(10)  |           | not null |         | extended |              |
 primary_desc | character varying(50)  |           | not null |         | extended |              |
 description  | character varying(100) |           | not null |         | extended |              |
Indexes:
    "crime_pkey" PRIMARY KEY, btree (crime_id)
Referenced by:
    TABLE "crime_report" CONSTRAINT "crime_report_crime_id_fkey" FOREIGN KEY (crime_id) REFERENCES crime(crime_id)

Location Table:

dsa_student=> \d+ location
                                                Table "dlr6w3.location"
        Column        |         Type          | Collation | Nullable | Default | Storage  | Stats target | Description
----------------------+-----------------------+-----------+----------+---------+----------+--------------+-------------
 location_id          | integer               |           | not null |         | plain    |              |
 location_description | character varying(50) |           | not null |         | extended |              |
 block                | character varying(50) |           | not null |         | extended |              |
 beat                 | integer               |           | not null |         | plain    |              |
 district             | integer               |           | not null |         | plain    |              |
 ward                 | double precision      |           | not null |         | plain    |              |
 community_area       | double precision      |           | not null |         | plain    |              |
 latitude             | double precision      |           | not null |         | plain    |              |
 longitude            | double precision      |           | not null |         | plain    |              |
 x_coordinate         | double precision      |           | not null |         | plain    |              |
 y_coordinate         | double precision      |           | not null |         | plain    |              |
Indexes:
    "location_pkey" PRIMARY KEY, btree (location_id)
Referenced by:
    TABLE "crime_report" CONSTRAINT "crime_report_location_id_fkey" FOREIGN KEY (location_id) REFERENCES location(location_id)
 
Crime_Report Table: 
 
dsa_student=> \d+ crime_report
                                            Table "dlr6w3.crime_report"
   Column    |            Type             | Collation | Nullable | Default | Storage  | Stats target | Description
-------------+-----------------------------+-----------+----------+---------+----------+--------------+-------------
 case_id     | character varying(12)       |           | not null |         | extended |              |
 case_number | character varying(12)       |           | not null |         | extended |              |
 crime_id    | integer                     |           | not null |         | plain    |              |
 location_id | integer                     |           | not null |         | plain    |              |
 arrest      | boolean                     |           | not null |         | plain    |              |
 domestic    | boolean                     |           | not null |         | plain    |              |
 case_date   | timestamp without time zone |           | not null |         | plain    |              |
 case_year   | integer                     |           | not null |         | plain    |              |
 updated_on  | timestamp without time zone |           | not null |         | plain    |              |
Indexes:
    "crime_report_pkey" PRIMARY KEY, btree (case_id)
Foreign-key constraints:
    "crime_report_crime_id_fkey" FOREIGN KEY (crime_id) REFERENCES crime(crime_id)
    "crime_report_location_id_fkey" FOREIGN KEY (location_id) REFERENCES location(location_id)

## Load the data from the given csv file to the relations

In [11]:
##Load the csv
import pandas as pd
datapath = "/dsa/data/DSA-7030/Chicago-Crime-Sample-2012-updated.csv"
df = pd.read_csv(datapath, index_col=0)

In [12]:
df.head()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
ID,,,,,,,,,,,,,,,,,,,,,
12236659,JD449284,11/27/2012 06:00:00 PM,028XX W BELDEN AVE,0266,CRIMINAL SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,1414,...,1.0,22.0,02,NaN,NaN,2012,12/05/2020 03:46:44 PM,NaN,NaN,NaN
12214909,JD424223,09/15/2012 01:30:00 PM,045XX W CERMAK RD,0620,BURGLARY,UNLAWFUL ENTRY,OTHER (SPECIFY),False,False,1012,...,24.0,29.0,05,NaN,NaN,2012,12/05/2020 03:44:06 PM,NaN,NaN,NaN
12235566,JD447838,01/01/2012 12:01:00 AM,031XX W 44TH ST,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,False,922,...,15.0,58.0,17,NaN,NaN,2012,12/03/2020 03:51:39 PM,NaN,NaN,NaN
12234792,JD447109,12/07/2012 12:00:00 PM,107XX S MORGAN ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2234,...,34.0,75.0,11,NaN,NaN,2012,12/02/2020 03:56:38 PM,NaN,NaN,NaN
12230182,JD441224,02/27/2012 06:50:00 PM,017XX W BERWYN AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,2012,...,40.0,77.0,11,NaN,NaN,2012,11/26/2020 03:48:35 PM,NaN,NaN,NaN

In [13]:
## Look at dimensions and Count NaNs
print(df.shape)
df.isna().sum()

(336149, 21)

Case Number               1
Date                      0
Block                     0
IUCR                      0
Primary Type              0
Description               0
Location Description    447
Arrest                    0
Domestic                  0
Beat                      0
District                  0
Ward                      7
Community Area           26
FBI Code                  0
X Coordinate            703
Y Coordinate            703
Year                      0
Updated On                0
Latitude                703
Longitude               703
Location                703
dtype: int64

In [14]:
##Remove nans with values to not violate NOT NULL
df['Case Number'] = df['Case Number'].where(pd.notnull(df['Case Number']), -1)
df['Location Description'] = df['Location Description'].where(pd.notnull(df['Location Description']), 'NA')
df['Ward'] = df['Ward'].where(pd.notnull(df['Ward']), -1.00)
df['Community Area'] = df['Community Area'].where(pd.notnull(df['Community Area']), -1.00)
df['X Coordinate'] = df['X Coordinate'].where(pd.notnull(df['X Coordinate']), -1.00)
df['Y Coordinate'] = df['Y Coordinate'].where(pd.notnull(df['Y Coordinate']), -1.00)
df['Latitude'] = df['Latitude'].where(pd.notnull(df['Latitude']), -1.00)
df['Longitude'] = df['Longitude'].where(pd.notnull(df['Longitude']), -1.00)
df['Location'] = df['Location'].where(pd.notnull(df['Location']), 'NA')

In [15]:
## Look at updated dimensions and check if NaNs are gone
print(df.shape)
df.isna().sum()

(336149, 21)

Case Number             0
Date                    0
Block                   0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

In [16]:
##Create crime dataframe
crime_df=pd.DataFrame({
                        'IUCR':  df.IUCR,
                        'FBI Code': df['FBI Code'],
                        'Primary Type': df['Primary Type'],
                        'Description':  df.Description,
                    
                    
})
print(crime_df.shape)
crime_df.head()

(336149, 4)

,IUCR,FBI Code,Primary Type,Description
ID,,,,
12236659,0266,02,CRIMINAL SEXUAL ASSAULT,PREDATORY
12214909,0620,05,BURGLARY,UNLAWFUL ENTRY
12235566,1752,17,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER
12234792,1153,11,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300
12230182,1153,11,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300

In [17]:
##Get unique rows
crime_df_unique = crime_df.drop_duplicates()
print(crime_df_unique.shape)
crime_df_unique.head()

(339, 4)

,IUCR,FBI Code,Primary Type,Description
ID,,,,
12236659,0266,02,CRIMINAL SEXUAL ASSAULT,PREDATORY
12214909,0620,05,BURGLARY,UNLAWFUL ENTRY
12235566,1752,17,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER
12234792,1153,11,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300
8732938,0281,02,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED

In [18]:
##Create Id column
crime_df_unique['crime_id'] = range(0, len(crime_df_unique.IUCR))
crime_df_unique.tail()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,IUCR,FBI Code,Primary Type,Description,crime_id
ID,,,,,
8946827,2091,18,NARCOTICS,FORFEIT PROPERTY,334
8948914,2895,26,PUBLIC PEACE VIOLATION,INTERFERE W/ EMERGENCY EQUIP,335
8950610,1531,16,PROSTITUTION,JUVENILE PIMPING,336
9420694,1710,20,OFFENSE INVOLVING CHILDREN,ENDANGERING LIFE/HEALTH CHILD,337
9762752,142B,15,WEAPONS VIOLATION,UNLAWFUL SALE OTHER FIREARM,338

In [19]:
##Create location df

location_df=pd.DataFrame({
                        
                'Location Description':   df['Location Description'] ,
                'Block':                  df.Block ,
                'Beat':                    df.Beat,
                'District':               df.District ,
                'Ward':                  df.Ward  ,
                'Community Area':          df['Community Area'],
                'Latitude':               df.Latitude ,
                'Longitude':              df.Longitude ,
                'X Coordinate':            df['X Coordinate'],
                'Y Coordinate':          df['Y Coordinate'] ,  
                    
})
print(location_df.shape)
location_df.head()

(336149, 10)

,Location Description,Block,Beat,District,Ward,Community Area,Latitude,Longitude,X Coordinate,Y Coordinate
ID,,,,,,,,,,
12236659,RESIDENCE,028XX W BELDEN AVE,1414,14,1.0,22.0,-1.0,-1.0,-1.0,-1.0
12214909,OTHER (SPECIFY),045XX W CERMAK RD,1012,10,24.0,29.0,-1.0,-1.0,-1.0,-1.0
12235566,RESIDENCE,031XX W 44TH ST,922,9,15.0,58.0,-1.0,-1.0,-1.0,-1.0
12234792,RESIDENCE,107XX S MORGAN ST,2234,22,34.0,75.0,-1.0,-1.0,-1.0,-1.0
12230182,NA,017XX W BERWYN AVE,2012,20,40.0,77.0,-1.0,-1.0,-1.0,-1.0

In [20]:
##Get unique rows
location_df_unique = location_df.drop_duplicates()
print(location_df_unique.shape)
location_df_unique.head()

(244517, 10)

,Location Description,Block,Beat,District,Ward,Community Area,Latitude,Longitude,X Coordinate,Y Coordinate
ID,,,,,,,,,,
12236659,RESIDENCE,028XX W BELDEN AVE,1414,14,1.0,22.0,-1.0,-1.0,-1.0,-1.0
12214909,OTHER (SPECIFY),045XX W CERMAK RD,1012,10,24.0,29.0,-1.0,-1.0,-1.0,-1.0
12235566,RESIDENCE,031XX W 44TH ST,922,9,15.0,58.0,-1.0,-1.0,-1.0,-1.0
12234792,RESIDENCE,107XX S MORGAN ST,2234,22,34.0,75.0,-1.0,-1.0,-1.0,-1.0
12230182,NA,017XX W BERWYN AVE,2012,20,40.0,77.0,-1.0,-1.0,-1.0,-1.0

In [21]:
##Create Id column
location_df_unique['Location_ID'] = range(0, len(location_df_unique.Block))
print(location_df_unique.shape)
location_df_unique.tail()

(244517, 11)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Location Description,Block,Beat,District,Ward,Community Area,Latitude,Longitude,X Coordinate,Y Coordinate,Location_ID
ID,,,,,,,,,,,
9984444,APARTMENT,076XX S COLFAX AVE,421,4,7.0,43.0,41.756505,-87.561474,1194850.0,1854806.0,244512
9987208,STREET,067XX S PERRY AVE,722,7,6.0,69.0,41.772012,-87.628344,1176558.0,1860300.0,244513
9990541,RESIDENCE,010XX N HONORE ST,1212,12,1.0,24.0,41.900421,-87.673514,1163877.0,1906994.0,244514
9991722,APARTMENT,019XX S DRAKE AVE,1024,10,24.0,29.0,41.854248,-87.713694,1153060.0,1890087.0,244515
9998136,RESIDENCE,045XX W WRIGHTWOOD AVE,2521,25,31.0,20.0,41.928606,-87.740772,1145496.0,1917131.0,244516

In [22]:
##Join data to original df to add location and crime ids
join1 =  pd.merge(df, location_df_unique, how='left', on=['Location Description', 'Block', 'Beat', 'District', 'Ward', 'Community Area', 'Community Area', 'Latitude', 'Longitude', 'X Coordinate', 'Y Coordinate'])

In [23]:
print(join1.shape)
join1.tail()

(336149, 22)

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Location_ID
336144,HY173771,10/11/2012 06:00:00 AM,076XX S COLFAX AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,421,...,43.0,11,1194850.0,1854806.0,2012,02/10/2018 03:50:01 PM,41.756505,-87.561474,"(41.756504746, -87.561473501)",244512
336145,HY177204,12/15/2012 09:00:00 AM,067XX S PERRY AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,722,...,69.0,07,1176558.0,1860300.0,2012,02/10/2018 03:50:01 PM,41.772012,-87.628344,"(41.772011702, -87.628344479)",244513
336146,HY180702,02/07/2012 09:00:00 AM,010XX N HONORE ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,1212,...,24.0,11,1163877.0,1906994.0,2012,02/09/2018 03:44:29 PM,41.900421,-87.673514,"(41.900420776, -87.673514317)",244514
336147,HY181590,04/01/2012 12:01:00 AM,019XX S DRAKE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,1024,...,29.0,11,1153060.0,1890087.0,2012,02/09/2018 03:44:29 PM,41.854248,-87.713694,"(41.854247595, -87.713694133)",244515
336148,HY188115,01/01/2012 09:00:00 AM,045XX W WRIGHTWOOD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2521,...,20.0,11,1145496.0,1917131.0,2012,02/09/2018 03:44:29 PM,41.928606,-87.740772,"(41.928605829, -87.740771814)",244516

In [24]:
join2 = pd.merge(join1, crime_df_unique, how='left', on=['IUCR', 'FBI Code', 'Primary Type', 'Description'])

In [25]:
print(join2.shape)
join2.head()

(336149, 23)

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Location_ID,crime_id
0,JD449284,11/27/2012 06:00:00 PM,028XX W BELDEN AVE,0266,CRIMINAL SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,1414,...,02,-1.0,-1.0,2012,12/05/2020 03:46:44 PM,-1.0,-1.0,NA,0,0
1,JD424223,09/15/2012 01:30:00 PM,045XX W CERMAK RD,0620,BURGLARY,UNLAWFUL ENTRY,OTHER (SPECIFY),False,False,1012,...,05,-1.0,-1.0,2012,12/05/2020 03:44:06 PM,-1.0,-1.0,NA,1,1
2,JD447838,01/01/2012 12:01:00 AM,031XX W 44TH ST,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,False,922,...,17,-1.0,-1.0,2012,12/03/2020 03:51:39 PM,-1.0,-1.0,NA,2,2
3,JD447109,12/07/2012 12:00:00 PM,107XX S MORGAN ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2234,...,11,-1.0,-1.0,2012,12/02/2020 03:56:38 PM,-1.0,-1.0,NA,3,3
4,JD441224,02/27/2012 06:50:00 PM,017XX W BERWYN AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NA,False,False,2012,...,11,-1.0,-1.0,2012,11/26/2020 03:48:35 PM,-1.0,-1.0,NA,4,3

In [26]:
##Add case id
join2['case_id'] = range(0, len(join2['Case Number']))
join2.tail()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Location_ID,crime_id,case_id
336144,HY173771,10/11/2012 06:00:00 AM,076XX S COLFAX AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,421,...,1194850.0,1854806.0,2012,02/10/2018 03:50:01 PM,41.756505,-87.561474,"(41.756504746, -87.561473501)",244512,3,336144
336145,HY177204,12/15/2012 09:00:00 AM,067XX S PERRY AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,722,...,1176558.0,1860300.0,2012,02/10/2018 03:50:01 PM,41.772012,-87.628344,"(41.772011702, -87.628344479)",244513,26,336145
336146,HY180702,02/07/2012 09:00:00 AM,010XX N HONORE ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,1212,...,1163877.0,1906994.0,2012,02/09/2018 03:44:29 PM,41.900421,-87.673514,"(41.900420776, -87.673514317)",244514,3,336146
336147,HY181590,04/01/2012 12:01:00 AM,019XX S DRAKE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,1024,...,1153060.0,1890087.0,2012,02/09/2018 03:44:29 PM,41.854248,-87.713694,"(41.854247595, -87.713694133)",244515,3,336147
336148,HY188115,01/01/2012 09:00:00 AM,045XX W WRIGHTWOOD AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2521,...,1145496.0,1917131.0,2012,02/09/2018 03:44:29 PM,41.928606,-87.740772,"(41.928605829, -87.740771814)",244516,3,336148

In [27]:
##Create crime_report df

creport_df_sql=pd.DataFrame({
                'case_id': join2.case_id,
                'case_number':  join2['Case Number']  ,
                'crime_id': join2['crime_id'],
                'location_id': join2['Location_ID'],
                'arrest':       join2.Arrest  ,
                'domestic':     join2.Domestic  ,
                'case_date':    join2.Date  ,
                'case_year':     join2.Year ,
                'updated_on':    join2['Updated On'] ,       
                    
                    
})
print(creport_df_sql.shape)
creport_df_sql.head()

(336149, 9)

,case_id,case_number,crime_id,location_id,arrest,domestic,case_date,case_year,updated_on
0,0,JD449284,0,0,False,False,11/27/2012 06:00:00 PM,2012,12/05/2020 03:46:44 PM
1,1,JD424223,1,1,False,False,09/15/2012 01:30:00 PM,2012,12/05/2020 03:44:06 PM
2,2,JD447838,2,2,False,False,01/01/2012 12:01:00 AM,2012,12/03/2020 03:51:39 PM
3,3,JD447109,3,3,False,False,12/07/2012 12:00:00 PM,2012,12/02/2020 03:56:38 PM
4,4,JD441224,3,4,False,False,02/27/2012 06:50:00 PM,2012,11/26/2020 03:48:35 PM

In [28]:
##change the two date columns to timestamp
creport_df_sql.case_date = pd.to_datetime(creport_df_sql.case_date, infer_datetime_format=True) 
creport_df_sql.updated_on = pd.to_datetime(creport_df_sql.updated_on, infer_datetime_format=True)

In [29]:
##check NAs
print(creport_df_sql.isna().sum())
print(location_df_unique.isna().sum())
print(crime_df_unique.isna().sum())

case_id        0
case_number    0
crime_id       0
location_id    0
arrest         0
domestic       0
case_date      0
case_year      0
updated_on     0
dtype: int64
Location Description    0
Block                   0
Beat                    0
District                0
Ward                    0
Community Area          0
Latitude                0
Longitude               0
X Coordinate            0
Y Coordinate            0
Location_ID             0
dtype: int64
IUCR            0
FBI Code        0
Primary Type    0
Description     0
crime_id        0
dtype: int64

In [30]:
##create sql crime df
crime_df_sql = pd.DataFrame({
                        'crime_id':  crime_df_unique['crime_id'],
                        'iucr':  crime_df_unique.IUCR,
                        'fbi': crime_df_unique['FBI Code'],
                        'primary_desc': crime_df_unique['Primary Type'],
                        'description':  crime_df_unique.Description,
                    
                    
})
print(crime_df_sql.shape)
crime_df_sql.head()

(339, 5)

,crime_id,iucr,fbi,primary_desc,description
ID,,,,,
12236659,0,0266,02,CRIMINAL SEXUAL ASSAULT,PREDATORY
12214909,1,0620,05,BURGLARY,UNLAWFUL ENTRY
12235566,2,1752,17,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER
12234792,3,1153,11,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300
8732938,4,0281,02,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED

In [31]:
##create sql location df
location_df_sql = pd.DataFrame({
                        
                'location_id':            location_df_unique['Location_ID'],
                'location_description':   location_df_unique['Location Description'] ,
                'block':                  location_df_unique.Block ,
                'beat':                    location_df_unique.Beat,
                'district':               location_df_unique.District ,
                'ward':                  location_df_unique.Ward  ,
                'community_area':          location_df_unique['Community Area'],
                'latitude':               location_df_unique.Latitude ,
                'longitude':              location_df_unique.Longitude ,
                'x_coordinate':            location_df_unique['X Coordinate'],
                'y_coordinate':          location_df_unique['Y Coordinate'] ,  
                    
})
print(location_df_sql.shape)
location_df_sql.head()

(244517, 11)

,location_id,location_description,block,beat,district,ward,community_area,latitude,longitude,x_coordinate,y_coordinate
ID,,,,,,,,,,,
12236659,0,RESIDENCE,028XX W BELDEN AVE,1414,14,1.0,22.0,-1.0,-1.0,-1.0,-1.0
12214909,1,OTHER (SPECIFY),045XX W CERMAK RD,1012,10,24.0,29.0,-1.0,-1.0,-1.0,-1.0
12235566,2,RESIDENCE,031XX W 44TH ST,922,9,15.0,58.0,-1.0,-1.0,-1.0,-1.0
12234792,3,RESIDENCE,107XX S MORGAN ST,2234,22,34.0,75.0,-1.0,-1.0,-1.0,-1.0
12230182,4,NA,017XX W BERWYN AVE,2012,20,40.0,77.0,-1.0,-1.0,-1.0,-1.0

In [32]:
##Insert crime table
crime_df_sql.to_sql('crime', # The table to load
          engine,             # The engine created above
          schema= username,   # The schema where the table lives, our pawprint
          if_exists='append', # If the table is found, it would keep loading the end of table.
          index=False,        # Recall that panda data frame has a row index, so we need to ignore it
          chunksize=100)       # Do 100 records from the data frame at a time

2020-12-18 10:06:06,983 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2020-12-18 10:06:06,984 INFO sqlalchemy.engine.base.Engine {'schema': 'dlr6w3', 'name': 'crime'}
2020-12-18 10:06:06,989 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-18 10:06:06,991 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.crime (crime_id, iucr, fbi, primary_desc, description) VALUES (%(crime_id)s, %(iucr)s, %(fbi)s, %(primary_desc)s, %(description)s)
2020-12-18 10:06:06,991 INFO sqlalchemy.engine.base.Engine ({'crime_id': 0, 'iucr': '0266', 'fbi': '02', 'primary_desc': 'CRIMINAL SEXUAL ASSAULT', 'description': 'PREDATORY'}, {'crime_id': 1, 'iucr': '0620', 'fbi': '05', 'primary_desc': 'BURGLARY', 'description': 'UNLAWFUL ENTRY'}, {'crime_id': 2, 'iucr': '1752', 'fbi': '17', 'primary_desc': 'OFFENSE INVOLVING CHILDREN', 'description': 'AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER'}, {'crime_id': 3, 'iucr': '1153', 'fbi': '11', 'primary_desc': 'DECEPTIVE PRACTICE', 'description': 'FINANCIAL IDENTITY THEFT OVER $ 300'}, {'crime_id': 4, 'iucr': '0281', 'fbi': '02', 'primary_desc': 'CRIMINAL SEXUAL ASSAULT', 'description': 'NON-AGGRAVATED'}, {'crime_id': 5, 'iucr': '1562', 'fbi': '17', 'primary_desc': 'SEX OFFENSE', 'description': 'AGGRAVATED CRIMINAL SEXUAL ABUSE'}, {'crime_id': 6, 'iucr': '1754', 'fbi': '02', 'primary_desc': 'OFFENSE INVOLVING CHILDREN', 'description': 'AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER'}, {'crime_id': 7, 'iucr': '041A', 'fbi': '04B', 'primary_desc': 'BATTERY', 'description': 'AGGRAVATED - HANDGUN'}  ... displaying 10 of 100 total bound parameter sets ...  {'crime_id': 98, 'iucr': '5001', 'fbi': '26', 'primary_desc': 'OTHER OFFENSE', 'description': 'OTHER CRIME INVOLVING PROPERTY'}, {'crime_id': 99, 'iucr': '1780', 'fbi': '26', 'primary_desc': 'OFFENSE INVOLVING CHILDREN', 'description': 'OTHER OFFENSE'})
2020-12-18 10:06:07,018 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.crime (crime_id, iucr, fbi, primary_desc, description) VALUES (%(crime_id)s, %(iucr)s, %(fbi)s, %(primary_desc)s, %(description)s)
2020-12-18 10:06:07,019 INFO sqlalchemy.engine.base.Engine ({'crime_id': 100, 'iucr': '2826', 'fbi': '26', 'primary_desc': 'OTHER OFFENSE', 'description': 'HARASSMENT BY ELECTRONIC MEANS'}, {'crime_id': 101, 'iucr': '4650', 'fbi': '26', 'primary_desc': 'OTHER OFFENSE', 'description': 'SEX OFFENDER: FAIL TO REGISTER'}, {'crime_id': 102, 'iucr': '5004', 'fbi': '17', 'primary_desc': 'SEX OFFENSE', 'description': 'ATT CRIM SEXUAL ABUSE'}, {'crime_id': 103, 'iucr': '0520', 'fbi': '04A', 'primary_desc': 'ASSAULT', 'description': 'AGGRAVATED:KNIFE/CUTTING INSTR'}, {'crime_id': 104, 'iucr': '0430', 'fbi': '04B', 'primary_desc': 'BATTERY', 'description': 'AGGRAVATED: OTHER DANG WEAPON'}, {'crime_id': 105, 'iucr': '1345', 'fbi': '14', 'primary_desc': 'CRIMINAL DAMAGE', 'description': 'TO CITY OF CHICAGO PROPERTY'}, {'crime_id': 106, 'iucr': '141A', 'fbi': '15', 'primary_desc': 'WEAPONS VIOLATION', 'description': 'UNLAWFUL USE HANDGUN'}, {'crime_id': 107, 'iucr': '141B', 'fbi': '15', 'primary_desc': 'WEAPONS VIOLATION', 'description': 'UNLAWFUL USE OTHER FIREARM'}  ... displaying 10 of 100 total bound parameter sets ...  {'crime_id': 198, 'iucr': '1576', 'fbi': '17', 'primary_desc': 'SEX OFFENSE', 'description': 'BIGAMY'}, {'crime_id': 199, 'iucr': '2850', 'fbi': '26', 'primary_desc': 'PUBLIC PEACE VIOLATION', 'description': 'BOMB THREAT'})
2020-12-18 10:06:07,042 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.crime (crime_id, iucr, fbi, primary_desc, description) VALUES (%(crime_id)s, %(iucr)s, %(fbi)s, %(primary_desc)s, %(description)s)
2020-12-18 10:06:07,043 INFO sqlalchemy.engine.base.Engine ({'crime_id': 200, 'iucr': '1790', 'fbi': '20', 'primary_desc': 'OFFENSE INVOLVING CHILDREN', 'description': 'CHILD ABDUCTION'}, {'crime_id': 201, 'iucr': '2020', 'fbi': '18', 'primary_desc': 'NARCOTICS', 'description': 'POSS: AMPHETAMINES'}, {'crime_id': 202, 'iucr': '2090', 'fbi': '18', 'primary_desc': 'NARCOTICS', 'description': 'ALTER/FORGE PRESCRIPTION'}, {'crime_id': 203, 'iucr': '2851', 'fbi': '26', 'primary_desc': 'PUBLIC PEACE VIOLATION', 'description': 'ARSON THREAT'}, {'crime_id': 204, 'iucr': '0291', 'fbi': '02', 'primary_desc': 'CRIM SEXUAL ASSAULT', 'description': 'ATTEMPT NON-AGGRAVATED'}, {'crime_id': 205, 'iucr': '0550', 'fbi': '04A', 'primary_desc': 'ASSAULT', 'description': 'AGGRAVATED PO: HANDGUN'}, {'crime_id': 206, 'iucr': '0842', 'fbi': '06', 'primary_desc': 'THEFT', 'description': 'AGG: FINANCIAL ID THEFT'}, {'crime_id': 207, 'iucr': '0865', 'fbi': '06', 'primary_desc': 'THEFT', 'description': 'DELIVERY CONTAINER THEFT'}  ... displaying 10 of 100 total bound parameter sets ...  {'crime_id': 298, 'iucr': '1791', 'fbi': '20', 'primary_desc': 'OFFENSE INVOLVING CHILDREN', 'description': 'HARBOR RUNAWAY'}, {'crime_id': 299, 'iucr': '0482', 'fbi': '04B', 'primary_desc': 'BATTERY', 'description': 'AGG PRO.EMP:KNIFE/CUTTING INST'})
2020-12-18 10:06:07,073 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.crime (crime_id, iucr, fbi, primary_desc, description) VALUES (%(crime_id)s, %(iucr)s, %(fbi)s, %(primary_desc)s, %(description)s)
2020-12-18 10:06:07,074 INFO sqlalchemy.engine.base.Engine ({'crime_id': 300, 'iucr': '0475', 'fbi': '08B', 'primary_desc': 'BATTERY', 'description': 'OF UNBORN CHILD'}, {'crime_id': 301, 'iucr': '0551', 'fbi': '04A', 'primary_desc': 'ASSAULT', 'description': 'AGGRAVATED PO: OTHER FIREARM'}, {'crime_id': 302, 'iucr': '1260', 'fbi': '11', 'primary_desc': 'DECEPTIVE PRACTICE', 'description': 'LIBRARY THEFT'}, {'crime_id': 303, 'iucr': '1541', 'fbi': '17', 'primary_desc': 'OBSCENITY', 'description': 'SALE/DIST OBSCENE MAT TO MINOR'}, {'crime_id': 304, 'iucr': '0275', 'fbi': '02', 'primary_desc': 'CRIM SEXUAL ASSAULT', 'description': 'ATTEMPT AGG: OTHER'}, {'crime_id': 305, 'iucr': '0937', 'fbi': '07', 'primary_desc': 'MOTOR VEHICLE THEFT', 'description': 'THEFT/RECOVERY: CYCLE, SCOOTER, BIKE W-VIN'}, {'crime_id': 306, 'iucr': '2080', 'fbi': '18', 'primary_desc': 'NARCOTICS', 'description': 'CONT SUBS:FAIL TO MAINT RECORD'}, {'crime_id': 307, 'iucr': '3910', 'fbi': '26', 'primary_desc': 'INTERFERENCE WITH PUBLIC OFFICER', 'description': 'BRIBERY'}  ... displaying 10 of 39 total bound parameter sets ...  {'crime_id': 337, 'iucr': '1710', 'fbi': '20', 'primary_desc': 'OFFENSE INVOLVING CHILDREN', 'description': 'ENDANGERING LIFE/HEALTH CHILD'}, {'crime_id': 338, 'iucr': '142B', 'fbi': '15', 'primary_desc': 'WEAPONS VIOLATION', 'description': 'UNLAWFUL SALE OTHER FIREARM'})
2020-12-18 10:06:07,081 INFO sqlalchemy.engine.base.Engine COMMIT

In [33]:
##Insert location table
location_df_sql.to_sql('location', # The table to load
          engine,             # The engine created above
          schema= username,   # The schema where the table lives, our pawprint
          if_exists='append', # If the table is found, it would keep loading the end of table.
          index=False,        # Recall that panda data frame has a row index, so we need to ignore it
          chunksize=10000)       # Do 10000 records from the data frame at a time

2020-12-18 10:06:13,891 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2020-12-18 10:06:13,892 INFO sqlalchemy.engine.base.Engine {'schema': 'dlr6w3', 'name': 'location'}
2020-12-18 10:06:14,000 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-18 10:06:14,097 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:14,098 INFO sqlalchemy.engine.base.Engine ({'location_id': 0, 'location_description': 'RESIDENCE', 'block': '028XX W BELDEN AVE', 'beat': 1414, 'district': 14, 'ward': 1.0, 'community_area': 22.0, 'latitude': -1.0, 'longitude': -1.0, 'x_coordinate': -1.0, 'y_coordinate': -1.0}, {'location_id': 1, 'location_description': 'OTHER (SPECIFY)', 'block': '045XX W CERMAK RD', 'beat': 1012, 'district': 10, 'ward': 24.0, 'community_area': 29.0, 'latitude': -1.0, 'longitude': -1.0, 'x_coordinate': -1.0, 'y_coordinate': -1.0}, {'location_id': 2, 'location_description': 'RESIDENCE', 'block': '031XX W 44TH ST', 'beat': 922, 'district': 9, 'ward': 15.0, 'community_area': 58.0, 'latitude': -1.0, 'longitude': -1.0, 'x_coordinate': -1.0, 'y_coordinate': -1.0}, {'location_id': 3, 'location_description': 'RESIDENCE', 'block': '107XX S MORGAN ST', 'beat': 2234, 'district': 22, 'ward': 34.0, 'community_area': 75.0, 'latitude': -1.0, 'longitude': -1.0, 'x_coordinate': -1.0, 'y_coordinate': -1.0}, {'location_id': 4, 'location_description': 'NA', 'block': '017XX W BERWYN AVE', 'beat': 2012, 'district': 20, 'ward': 40.0, 'community_area': 77.0, 'latitude': -1.0, 'longitude': -1.0, 'x_coordinate': -1.0, 'y_coordinate': -1.0}, {'location_id': 5, 'location_description': 'APARTMENT', 'block': '067XX S SANGAMON ST', 'beat': 723, 'district': 7, 'ward': 6.0, 'community_area': 68.0, 'latitude': 41.771967298, 'longitude': -87.648221547, 'x_coordinate': 1171136.0, 'y_coordinate': 1860240.0}, {'location_id': 6, 'location_description': 'RESIDENCE - YARD (FRONT / BACK)', 'block': '031XX W 16TH ST', 'beat': 1022, 'district': 10, 'ward': 24.0, 'community_area': 29.0, 'latitude': 41.859101399000004, 'longitude': -87.703959793, 'x_coordinate': 1155699.0, 'y_coordinate': 1891875.0}, {'location_id': 7, 'location_description': 'RESIDENCE', 'block': '049XX S DREXEL BLVD', 'beat': 222, 'district': 2, 'ward': 4.0, 'community_area': 39.0, 'latitude': -1.0, 'longitude': -1.0, 'x_coordinate': -1.0, 'y_coordinate': -1.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 9998, 'location_description': 'RESIDENCE', 'block': '079XX S WINCHESTER AVE', 'beat': 611, 'district': 6, 'ward': 18.0, 'community_area': 71.0, 'latitude': 41.749418918, 'longitude': -87.67190034, 'x_coordinate': 1164740.0, 'y_coordinate': 1851973.0}, {'location_id': 9999, 'location_description': 'DAY CARE CENTER', 'block': '013XX E 79TH ST', 'beat': 411, 'district': 4, 'ward': 8.0, 'community_area': 45.0, 'latitude': 41.751421711999996, 'longitude': -87.59222658200001, 'x_coordinate': 1186475.0, 'y_coordinate': 1852880.0})
2020-12-18 10:06:16,565 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:16,566 INFO sqlalchemy.engine.base.Engine ({'location_id': 10000, 'location_description': 'DEPARTMENT STORE', 'block': '017XX E 95TH ST', 'beat': 431, 'district': 4, 'ward': 7.0, 'community_area': 51.0, 'latitude': 41.722385688, 'longitude': -87.581893417, 'x_coordinate': 1189387.0, 'y_coordinate': 1842324.0}, {'location_id': 10001, 'location_description': 'STREET', 'block': '092XX S YATES BLVD', 'beat': 413, 'district': 4, 'ward': 7.0, 'community_area': 48.0, 'latitude': 41.727770389, 'longitude': -87.565755701, 'x_coordinate': 1193775.0, 'y_coordinate': 1844325.0}, {'location_id': 10002, 'location_description': 'RESIDENCE PORCH/HALLWAY', 'block': '053XX W CRYSTAL ST', 'beat': 2532, 'district': 25, 'ward': 37.0, 'community_area': 25.0, 'latitude': 41.903122085999996, 'longitude': -87.758977854, 'x_coordinate': 1140604.0, 'y_coordinate': 1907811.0}, {'location_id': 10003, 'location_description': 'STREET', 'block': '032XX W 65TH ST', 'beat': 823, 'district': 8, 'ward': 15.0, 'community_area': 66.0, 'latitude': 41.775305929, 'longitude': -87.704149136, 'x_coordinate': 1155871.0, 'y_coordinate': 1861340.0}, {'location_id': 10004, 'location_description': 'APARTMENT', 'block': '013XX S ALBANY AVE', 'beat': 1022, 'district': 10, 'ward': 24.0, 'community_area': 29.0, 'latitude': 41.864102164, 'longitude': -87.703092079, 'x_coordinate': 1155922.0, 'y_coordinate': 1893699.0}, {'location_id': 10005, 'location_description': 'SIDEWALK', 'block': '079XX S JEFFERY BLVD', 'beat': 414, 'district': 4, 'ward': 8.0, 'community_area': 46.0, 'latitude': 41.751151039, 'longitude': -87.575969317, 'x_coordinate': 1190912.0, 'y_coordinate': 1852820.0}, {'location_id': 10006, 'location_description': 'ATM (AUTOMATIC TELLER MACHINE)', 'block': '003XX W 79TH ST', 'beat': 623, 'district': 6, 'ward': 17.0, 'community_area': 44.0, 'latitude': 41.750819013000005, 'longitude': -87.632182489, 'x_coordinate': 1175574.0, 'y_coordinate': 1852569.0}, {'location_id': 10007, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '035XX W COLUMBUS AVE', 'beat': 834, 'district': 8, 'ward': 18.0, 'community_area': 70.0, 'latitude': 41.744059913, 'longitude': -87.71081556200001, 'x_coordinate': 1154135.0, 'y_coordinate': 1849941.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 19998, 'location_description': 'APARTMENT', 'block': '006XX N CENTRAL PARK AVE', 'beat': 1122, 'district': 11, 'ward': 27.0, 'community_area': 23.0, 'latitude': 41.892288291, 'longitude': -87.716220761, 'x_coordinate': 1152272.0, 'y_coordinate': 1903944.0}, {'location_id': 19999, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '041XX W 63RD ST', 'beat': 813, 'district': 8, 'ward': 13.0, 'community_area': 65.0, 'latitude': 41.778606456, 'longitude': -87.726954245, 'x_coordinate': 1149642.0, 'y_coordinate': 1862498.0})
2020-12-18 10:06:18,688 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:18,689 INFO sqlalchemy.engine.base.Engine ({'location_id': 20000, 'location_description': 'STREET', 'block': '039XX W OGDEN AVE', 'beat': 1014, 'district': 10, 'ward': 24.0, 'community_area': 29.0, 'latitude': 41.851921429, 'longitude': -87.72258447, 'x_coordinate': 1150644.0, 'y_coordinate': 1889222.0}, {'location_id': 20001, 'location_description': 'STREET', 'block': '039XX W FLOURNOY ST', 'beat': 1132, 'district': 11, 'ward': 24.0, 'community_area': 26.0, 'latitude': 41.872556788000004, 'longitude': -87.7238604, 'x_coordinate': 1150243.0, 'y_coordinate': 1896739.0}, {'location_id': 20002, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '027XX S KEELER AVE', 'beat': 1031, 'district': 10, 'ward': 22.0, 'community_area': 30.0, 'latitude': 41.841754008, 'longitude': -87.729345708, 'x_coordinate': 1148828.0, 'y_coordinate': 1885504.0}, {'location_id': 20003, 'location_description': 'RESIDENCE', 'block': '041XX W CRYSTAL ST', 'beat': 2534, 'district': 25, 'ward': 37.0, 'community_area': 23.0, 'latitude': 41.903533056, 'longitude': -87.729428701, 'x_coordinate': 1148647.0, 'y_coordinate': 1908016.0}, {'location_id': 20004, 'location_description': 'OTHER', 'block': '003XX N MICHIGAN AVE', 'beat': 122, 'district': 1, 'ward': 42.0, 'community_area': 32.0, 'latitude': 41.887384761, 'longitude': -87.62455074200001, 'x_coordinate': 1177246.0, 'y_coordinate': 1902350.0}, {'location_id': 20005, 'location_description': 'STREET', 'block': '020XX N LAPORTE AVE', 'beat': 2522, 'district': 25, 'ward': 31.0, 'community_area': 19.0, 'latitude': 41.917581986, 'longitude': -87.74982794200001, 'x_coordinate': 1143059.0, 'y_coordinate': 1913097.0}, {'location_id': 20006, 'location_description': 'RESIDENCE', 'block': '086XX S EXCHANGE AVE', 'beat': 423, 'district': 4, 'ward': 10.0, 'community_area': 46.0, 'latitude': 41.738525023, 'longitude': -87.55267539399999, 'x_coordinate': 1197310.0, 'y_coordinate': 1848276.0}, {'location_id': 20007, 'location_description': 'RESTAURANT', 'block': '004XX E 35TH ST', 'beat': 2122, 'district': 2, 'ward': 4.0, 'community_area': 35.0, 'latitude': 41.831179262, 'longitude': -87.61519801700001, 'x_coordinate': 1179964.0, 'y_coordinate': 1881890.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 29998, 'location_description': 'STREET', 'block': '021XX N LARAMIE AVE', 'beat': 2522, 'district': 25, 'ward': 37.0, 'community_area': 19.0, 'latitude': 41.919361313, 'longitude': -87.756010356, 'x_coordinate': 1141372.0, 'y_coordinate': 1913734.0}, {'location_id': 29999, 'location_description': 'RESIDENCE PORCH/HALLWAY', 'block': '060XX N KENMORE AVE', 'beat': 2433, 'district': 24, 'ward': 48.0, 'community_area': 77.0, 'latitude': 41.991335662, 'longitude': -87.656850699, 'x_coordinate': 1168152.0, 'y_coordinate': 1940159.0})

2020-12-18 10:06:21,124 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:21,124 INFO sqlalchemy.engine.base.Engine ({'location_id': 30000, 'location_description': 'RESIDENCE', 'block': '078XX S ELLIS AVE', 'beat': 624, 'district': 6, 'ward': 8.0, 'community_area': 69.0, 'latitude': 41.752390498000004, 'longitude': -87.60036227799999, 'x_coordinate': 1184252.0, 'y_coordinate': 1853214.0}, {'location_id': 30001, 'location_description': 'STREET', 'block': '013XX W 31ST ST', 'beat': 923, 'district': 9, 'ward': 11.0, 'community_area': 60.0, 'latitude': 41.837873151, 'longitude': -87.65875559, 'x_coordinate': 1168074.0, 'y_coordinate': 1884233.0}, {'location_id': 30002, 'location_description': 'STREET', 'block': '047XX N KOSTNER AVE', 'beat': 1722, 'district': 17, 'ward': 39.0, 'community_area': 14.0, 'latitude': 41.967182763000004, 'longitude': -87.73787357799999, 'x_coordinate': 1146187.0, 'y_coordinate': 1931194.0}, {'location_id': 30003, 'location_description': 'STREET', 'block': '011XX S HAMILTON AVE', 'beat': 1224, 'district': 12, 'ward': 2.0, 'community_area': 28.0, 'latitude': 41.867608211, 'longitude': -87.680298775, 'x_coordinate': 1162121.0, 'y_coordinate': 1895023.0}, {'location_id': 30004, 'location_description': 'STREET', 'block': '058XX S KOLMAR AVE', 'beat': 813, 'district': 8, 'ward': 13.0, 'community_area': 62.0, 'latitude': 41.787163525, 'longitude': -87.73645493, 'x_coordinate': 1147029.0, 'y_coordinate': 1865598.0}, {'location_id': 30005, 'location_description': 'RESIDENCE', 'block': '073XX S MARYLAND AVE', 'beat': 323, 'district': 3, 'ward': 6.0, 'community_area': 69.0, 'latitude': 41.761641396, 'longitude': -87.604222886, 'x_coordinate': 1183170.0, 'y_coordinate': 1856576.0}, {'location_id': 30006, 'location_description': 'RESIDENCE', 'block': '001XX E 56TH ST', 'beat': 233, 'district': 2, 'ward': 20.0, 'community_area': 40.0, 'latitude': 41.79291373, 'longitude': -87.62191440299999, 'x_coordinate': 1178249.0, 'y_coordinate': 1867931.0}, {'location_id': 30007, 'location_description': 'SCHOOL, PUBLIC, BUILDING', 'block': '012XX N PARKSIDE AVE', 'beat': 2531, 'district': 25, 'ward': 29.0, 'community_area': 25.0, 'latitude': 41.902892482, 'longitude': -87.76689609700001, 'x_coordinate': 1138449.0, 'y_coordinate': 1907713.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 39998, 'location_description': 'STREET', 'block': '007XX W 17TH ST', 'beat': 1233, 'district': 12, 'ward': 25.0, 'community_area': 31.0, 'latitude': 41.859163376, 'longitude': -87.64538274700001, 'x_coordinate': 1171656.0, 'y_coordinate': 1892020.0}, {'location_id': 39999, 'location_description': 'ABANDONED BUILDING', 'block': '043XX W ROSCOE ST', 'beat': 1731, 'district': 17, 'ward': 31.0, 'community_area': 16.0, 'latitude': 41.942616455, 'longitude': -87.736268044, 'x_coordinate': 1146686.0, 'y_coordinate': 1922245.0})
2020-12-18 10:06:23,393 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:23,393 INFO sqlalchemy.engine.base.Engine ({'location_id': 40000, 'location_description': 'APARTMENT', 'block': '064XX S NARRAGANSETT AVE', 'beat': 812, 'district': 8, 'ward': 13.0, 'community_area': 64.0, 'latitude': 41.774620538, 'longitude': -87.78114336799999, 'x_coordinate': 1134871.0, 'y_coordinate': 1860946.0}, {'location_id': 40001, 'location_description': 'STREET', 'block': '061XX S GREEN ST', 'beat': 712, 'district': 7, 'ward': 16.0, 'community_area': 68.0, 'latitude': 41.782750615, 'longitude': -87.646090177, 'x_coordinate': 1171686.0, 'y_coordinate': 1864174.0}, {'location_id': 40002, 'location_description': 'RESIDENCE PORCH/HALLWAY', 'block': '046XX S LAFLIN ST', 'beat': 924, 'district': 9, 'ward': 3.0, 'community_area': 61.0, 'latitude': 41.809777671999996, 'longitude': -87.662568119, 'x_coordinate': 1167115.0, 'y_coordinate': 1873987.0}, {'location_id': 40003, 'location_description': 'RESIDENCE', 'block': '071XX N PAULINA ST', 'beat': 2423, 'district': 24, 'ward': 49.0, 'community_area': 1.0, 'latitude': 42.011870085, 'longitude': -87.67233794299999, 'x_coordinate': 1163884.0, 'y_coordinate': 1947609.0}, {'location_id': 40004, 'location_description': 'APARTMENT', 'block': '002XX S LAVERGNE AVE', 'beat': 1533, 'district': 15, 'ward': 28.0, 'community_area': 25.0, 'latitude': 41.878317645, 'longitude': -87.74934071, 'x_coordinate': 1143289.0, 'y_coordinate': 1898790.0}, {'location_id': 40005, 'location_description': 'STREET', 'block': '020XX W TOUHY AVE', 'beat': 2424, 'district': 24, 'ward': 49.0, 'community_area': 1.0, 'latitude': 42.012519296, 'longitude': -87.681250811, 'x_coordinate': 1161460.0, 'y_coordinate': 1947827.0}, {'location_id': 40006, 'location_description': 'SIDEWALK', 'block': '071XX S COTTAGE GROVE AVE', 'beat': 323, 'district': 3, 'ward': 5.0, 'community_area': 69.0, 'latitude': 41.765557778, 'longitude': -87.605564121, 'x_coordinate': 1182792.0, 'y_coordinate': 1858000.0}, {'location_id': 40007, 'location_description': 'STREET', 'block': '068XX S CAMPBELL AVE', 'beat': 832, 'district': 8, 'ward': 15.0, 'community_area': 66.0, 'latitude': 41.769644163, 'longitude': -87.685824214, 'x_coordinate': 1160885.0, 'y_coordinate': 1859314.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 49998, 'location_description': 'RESIDENCE PORCH/HALLWAY', 'block': '068XX S ABERDEEN ST', 'beat': 724, 'district': 7, 'ward': 17.0, 'community_area': 68.0, 'latitude': 41.769798701999996, 'longitude': -87.651811437, 'x_coordinate': 1170163.0, 'y_coordinate': 1859442.0}, {'location_id': 49999, 'location_description': 'SIDEWALK', 'block': '049XX N RIDGEWAY AVE', 'beat': 1712, 'district': 17, 'ward': 39.0, 'community_area': 14.0, 'latitude': 41.970864313, 'longitude': -87.721986431, 'x_coordinate': 1150498.0, 'y_coordinate': 1932566.0})
2020-12-18 10:06:25,680 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:25,681 INFO sqlalchemy.engine.base.Engine ({'location_id': 50000, 'location_description': 'STREET', 'block': '009XX S CICERO AVE', 'beat': 1533, 'district': 15, 'ward': 24.0, 'community_area': 25.0, 'latitude': 41.869145417, 'longitude': -87.744856892, 'x_coordinate': 1144533.0, 'y_coordinate': 1895456.0}, {'location_id': 50001, 'location_description': 'CHA PARKING LOT/GROUNDS', 'block': '105XX S OGLESBY AVE', 'beat': 434, 'district': 4, 'ward': 10.0, 'community_area': 51.0, 'latitude': 41.703858986, 'longitude': -87.565728891, 'x_coordinate': 1193860.0, 'y_coordinate': 1835612.0}, {'location_id': 50002, 'location_description': 'STREET', 'block': '003XX N ELIZABETH ST', 'beat': 1212, 'district': 12, 'ward': 27.0, 'community_area': 28.0, 'latitude': 41.887193747, 'longitude': -87.65890536799999, 'x_coordinate': 1167892.0, 'y_coordinate': 1902205.0}, {'location_id': 50003, 'location_description': 'STREET', 'block': '034XX W 79TH ST', 'beat': 835, 'district': 8, 'ward': 18.0, 'community_area': 70.0, 'latitude': 41.749786196, 'longitude': -87.707582984, 'x_coordinate': 1155002.0, 'y_coordinate': 1852034.0}, {'location_id': 50004, 'location_description': 'STREET', 'block': '029XX W 63RD ST', 'beat': 823, 'district': 8, 'ward': 15.0, 'community_area': 66.0, 'latitude': 41.77906846, 'longitude': -87.696695387, 'x_coordinate': 1157894.0, 'y_coordinate': 1862726.0}, {'location_id': 50005, 'location_description': 'SIDEWALK', 'block': '050XX W MADISON ST', 'beat': 1533, 'district': 15, 'ward': 28.0, 'community_area': 25.0, 'latitude': 41.880417645, 'longitude': -87.751631349, 'x_coordinate': 1142660.0, 'y_coordinate': 1899551.0}, {'location_id': 50006, 'location_description': 'APARTMENT', 'block': '029XX E 78TH ST', 'beat': 421, 'district': 4, 'ward': 7.0, 'community_area': 43.0, 'latitude': 41.754004304, 'longitude': -87.553693594, 'x_coordinate': 1196981.0, 'y_coordinate': 1853914.0}, {'location_id': 50007, 'location_description': 'RESIDENCE PORCH/HALLWAY', 'block': '060XX W DAKIN ST', 'beat': 1633, 'district': 16, 'ward': 38.0, 'community_area': 17.0, 'latitude': 41.952092388000004, 'longitude': -87.77784965, 'x_coordinate': 1135351.0, 'y_coordinate': 1925622.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 59998, 'location_description': 'ALLEY', 'block': '074XX S MERRILL AVE', 'beat': 333, 'district': 3, 'ward': 5.0, 'community_area': 43.0, 'latitude': 41.759912334, 'longitude': -87.57245765, 'x_coordinate': 1191842.0, 'y_coordinate': 1856021.0}, {'location_id': 59999, 'location_description': 'RESIDENCE', 'block': '024XX W LOGAN BLVD', 'beat': 1431, 'district': 14, 'ward': 35.0, 'community_area': 22.0, 'latitude': 41.928395037, 'longitude': -87.688903074, 'x_coordinate': 1159611.0, 'y_coordinate': 1917156.0})

2020-12-18 10:06:27,926 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:27,926 INFO sqlalchemy.engine.base.Engine ({'location_id': 60000, 'location_description': 'SIDEWALK', 'block': '034XX N HALSTED ST', 'beat': 1924, 'district': 19, 'ward': 44.0, 'community_area': 6.0, 'latitude': 41.943844128, 'longitude': -87.649380278, 'x_coordinate': 1170321.0, 'y_coordinate': 1922869.0}, {'location_id': 60001, 'location_description': 'SIDEWALK', 'block': '018XX W NORTH AVE', 'beat': 1434, 'district': 14, 'ward': 32.0, 'community_area': 24.0, 'latitude': 41.910534535, 'longitude': -87.674211066, 'x_coordinate': 1163659.0, 'y_coordinate': 1910678.0}, {'location_id': 60002, 'location_description': 'APARTMENT', 'block': '005XX N LAKE SHORE DR', 'beat': 1834, 'district': 18, 'ward': 42.0, 'community_area': 8.0, 'latitude': 41.892085855, 'longitude': -87.6144317, 'x_coordinate': 1179987.0, 'y_coordinate': 1904086.0}, {'location_id': 60003, 'location_description': 'APARTMENT', 'block': '063XX S LANGLEY AVE', 'beat': 312, 'district': 3, 'ward': 20.0, 'community_area': 42.0, 'latitude': 41.779508259, 'longitude': -87.60836514200001, 'x_coordinate': 1181985.0, 'y_coordinate': 1863077.0}, {'location_id': 60004, 'location_description': 'APARTMENT', 'block': '026XX W 72ND ST', 'beat': 831, 'district': 8, 'ward': 18.0, 'community_area': 66.0, 'latitude': 41.762764733000004, 'longitude': -87.68982635200001, 'x_coordinate': 1159812.0, 'y_coordinate': 1856799.0}, {'location_id': 60005, 'location_description': 'STREET', 'block': '079XX S EVANS AVE', 'beat': 624, 'district': 6, 'ward': 6.0, 'community_area': 44.0, 'latitude': 41.75056292, 'longitude': -87.606429811, 'x_coordinate': 1182602.0, 'y_coordinate': 1852534.0}, {'location_id': 60006, 'location_description': 'STREET', 'block': '041XX N LARAMIE AVE', 'beat': 1624, 'district': 16, 'ward': 45.0, 'community_area': 15.0, 'latitude': 41.956269074, 'longitude': -87.75724354399999, 'x_coordinate': 1140946.0, 'y_coordinate': 1927181.0}, {'location_id': 60007, 'location_description': 'STREET', 'block': '055XX S ST LOUIS AVE', 'beat': 822, 'district': 8, 'ward': 14.0, 'community_area': 63.0, 'latitude': 41.792672851, 'longitude': -87.71088813700001, 'x_coordinate': 1153987.0, 'y_coordinate': 1867655.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 69998, 'location_description': 'SIDEWALK', 'block': '007XX N CENTRAL AVE', 'beat': 1524, 'district': 15, 'ward': 37.0, 'community_area': 25.0, 'latitude': 41.893859063, 'longitude': -87.76535617799999, 'x_coordinate': 1138890.0, 'y_coordinate': 1904424.0}, {'location_id': 69999, 'location_description': 'RESIDENCE', 'block': '047XX S INDIANA AVE', 'beat': 224, 'district': 2, 'ward': 3.0, 'community_area': 38.0, 'latitude': 41.808502251, 'longitude': -87.621191756, 'x_coordinate': 1178399.0, 'y_coordinate': 1873613.0})
2020-12-18 10:06:30,238 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:30,239 INFO sqlalchemy.engine.base.Engine ({'location_id': 70000, 'location_description': 'RESIDENCE', 'block': '100XX S WOOD ST', 'beat': 2213, 'district': 22, 'ward': 19.0, 'community_area': 72.0, 'latitude': 41.710192038, 'longitude': -87.667215537, 'x_coordinate': 1166129.0, 'y_coordinate': 1837689.0}, {'location_id': 70001, 'location_description': 'ABANDONED BUILDING', 'block': '112XX S VERNON AVE', 'beat': 531, 'district': 5, 'ward': 9.0, 'community_area': 49.0, 'latitude': 41.690130261, 'longitude': -87.61208255700001, 'x_coordinate': 1181244.0, 'y_coordinate': 1830500.0}, {'location_id': 70002, 'location_description': 'COMMERCIAL / BUSINESS OFFICE', 'block': '031XX W 111TH ST', 'beat': 2211, 'district': 22, 'ward': 19.0, 'community_area': 74.0, 'latitude': 41.691575604, 'longitude': -87.69993139799999, 'x_coordinate': 1157246.0, 'y_coordinate': 1830838.0}, {'location_id': 70003, 'location_description': 'APARTMENT', 'block': '075XX S STEWART AVE', 'beat': 623, 'district': 6, 'ward': 17.0, 'community_area': 69.0, 'latitude': 41.757583951, 'longitude': -87.634472844, 'x_coordinate': 1174929.0, 'y_coordinate': 1855029.0}, {'location_id': 70004, 'location_description': 'RESIDENCE', 'block': '015XX N LATROBE AVE', 'beat': 2532, 'district': 25, 'ward': 37.0, 'community_area': 25.0, 'latitude': 41.908420353000004, 'longitude': -87.757163304, 'x_coordinate': 1141085.0, 'y_coordinate': 1909745.0}, {'location_id': 70005, 'location_description': 'STREET', 'block': '048XX W ARMITAGE AVE', 'beat': 2533, 'district': 25, 'ward': 31.0, 'community_area': 19.0, 'latitude': 41.916896534, 'longitude': -87.74886787, 'x_coordinate': 1143322.0, 'y_coordinate': 1912849.0}, {'location_id': 70006, 'location_description': 'STREET', 'block': '042XX N MARINE DR', 'beat': 1915, 'district': 19, 'ward': 46.0, 'community_area': 3.0, 'latitude': 41.958736385, 'longitude': -87.646526104, 'x_coordinate': 1171054.0, 'y_coordinate': 1928302.0}, {'location_id': 70007, 'location_description': 'STREET', 'block': '114XX S NORMAL AVE', 'beat': 2233, 'district': 22, 'ward': 34.0, 'community_area': 49.0, 'latitude': 41.686539158, 'longitude': -87.63494204, 'x_coordinate': 1175011.0, 'y_coordinate': 1829140.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 79998, 'location_description': 'STREET', 'block': '017XX W HOWARD ST', 'beat': 2422, 'district': 24, 'ward': 49.0, 'community_area': 1.0, 'latitude': 42.019399236999995, 'longitude': -87.675049485, 'x_coordinate': 1163126.0, 'y_coordinate': 1950347.0}, {'location_id': 79999, 'location_description': 'RESIDENCE', 'block': '113XX S AVENUE L', 'beat': 433, 'district': 4, 'ward': 10.0, 'community_area': 52.0, 'latitude': 41.689115048000005, 'longitude': -87.536490137, 'x_coordinate': 1201894.0, 'y_coordinate': 1830312.0})
2020-12-18 10:06:32,618 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:32,619 INFO sqlalchemy.engine.base.Engine ({'location_id': 80000, 'location_description': 'RESIDENCE', 'block': '101XX S HOXIE AVE', 'beat': 431, 'district': 4, 'ward': 10.0, 'community_area': 51.0, 'latitude': 41.710805752, 'longitude': -87.56094735399999, 'x_coordinate': 1195143.0, 'y_coordinate': 1838155.0}, {'location_id': 80001, 'location_description': 'SIDEWALK', 'block': '058XX W NORTH AVE', 'beat': 2531, 'district': 25, 'ward': 29.0, 'community_area': 25.0, 'latitude': 41.909317794, 'longitude': -87.770457963, 'x_coordinate': 1137464.0, 'y_coordinate': 1910048.0}, {'location_id': 80002, 'location_description': 'COMMERCIAL / BUSINESS OFFICE', 'block': '079XX S MUSKEGON AVE', 'beat': 422, 'district': 4, 'ward': 7.0, 'community_area': 46.0, 'latitude': 41.751238033, 'longitude': -87.555310231, 'x_coordinate': 1196549.0, 'y_coordinate': 1852902.0}, {'location_id': 80003, 'location_description': 'RESIDENCE', 'block': '022XX W HOMER ST', 'beat': 1434, 'district': 14, 'ward': 32.0, 'community_area': 22.0, 'latitude': 41.916874554, 'longitude': -87.683507691, 'x_coordinate': 1161111.0, 'y_coordinate': 1912969.0}, {'location_id': 80004, 'location_description': 'RESIDENCE', 'block': '091XX S LUELLA AVE', 'beat': 413, 'district': 4, 'ward': 7.0, 'community_area': 48.0, 'latitude': 41.729164372, 'longitude': -87.56944287600001, 'x_coordinate': 1192764.0, 'y_coordinate': 1844824.0}, {'location_id': 80005, 'location_description': 'APARTMENT', 'block': '026XX W AUGUSTA BLVD', 'beat': 1311, 'district': 12, 'ward': 26.0, 'community_area': 24.0, 'latitude': 41.899318877, 'longitude': -87.693133164, 'x_coordinate': 1158539.0, 'y_coordinate': 1906552.0}, {'location_id': 80006, 'location_description': 'RESIDENCE', 'block': '078XX S SOUTH SHORE DR', 'beat': 421, 'district': 4, 'ward': 7.0, 'community_area': 43.0, 'latitude': 41.754021913, 'longitude': -87.550230066, 'x_coordinate': 1197926.0, 'y_coordinate': 1853929.0}, {'location_id': 80007, 'location_description': 'VACANT LOT/LAND', 'block': '048XX W GLADYS AVE', 'beat': 1533, 'district': 15, 'ward': 24.0, 'community_area': 25.0, 'latitude': 41.875867413, 'longitude': -87.74618686299999, 'x_coordinate': 1144154.0, 'y_coordinate': 1897903.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 89998, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '029XX E 91ST ST', 'beat': 423, 'district': 4, 'ward': 7.0, 'community_area': 46.0, 'latitude': 41.730048219000004, 'longitude': -87.553536385, 'x_coordinate': 1197103.0, 'y_coordinate': 1845185.0}, {'location_id': 89999, 'location_description': 'STREET', 'block': '090XX S COTTAGE GROVE AVE', 'beat': 633, 'district': 6, 'ward': 8.0, 'community_area': 44.0, 'latitude': 41.730010601, 'longitude': -87.60466494, 'x_coordinate': 1183147.0, 'y_coordinate': 1845049.0})

2020-12-18 10:06:34,741 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:34,742 INFO sqlalchemy.engine.base.Engine ({'location_id': 90000, 'location_description': 'RESIDENCE', 'block': '022XX N LA CROSSE AVE', 'beat': 2522, 'district': 25, 'ward': 31.0, 'community_area': 19.0, 'latitude': 41.92145852, 'longitude': -87.74746301200001, 'x_coordinate': 1143693.0, 'y_coordinate': 1914514.0}, {'location_id': 90001, 'location_description': 'STREET', 'block': '031XX W 61ST ST', 'beat': 823, 'district': 8, 'ward': 15.0, 'community_area': 66.0, 'latitude': 41.782618389, 'longitude': -87.702449716, 'x_coordinate': 1156315.0, 'y_coordinate': 1864008.0}, {'location_id': 90002, 'location_description': 'APARTMENT', 'block': '013XX W 112TH PL', 'beat': 2234, 'district': 22, 'ward': 34.0, 'community_area': 75.0, 'latitude': 41.689347536, 'longitude': -87.65619067, 'x_coordinate': 1169199.0, 'y_coordinate': 1830117.0}, {'location_id': 90003, 'location_description': 'RESIDENCE', 'block': '020XX W POTOMAC AVE', 'beat': 1424, 'district': 14, 'ward': 1.0, 'community_area': 24.0, 'latitude': 41.904986814000004, 'longitude': -87.678242877, 'x_coordinate': 1162577.0, 'y_coordinate': 1908648.0}, {'location_id': 90004, 'location_description': 'STREET', 'block': '049XX N HOYNE AVE', 'beat': 2032, 'district': 20, 'ward': 47.0, 'community_area': 4.0, 'latitude': 41.971474179, 'longitude': -87.68169536799999, 'x_coordinate': 1161453.0, 'y_coordinate': 1932869.0}, {'location_id': 90005, 'location_description': 'SCHOOL, PRIVATE, BUILDING', 'block': '043XX W WASHINGTON BLVD', 'beat': 1115, 'district': 11, 'ward': 28.0, 'community_area': 26.0, 'latitude': 41.881948328, 'longitude': -87.73390276299999, 'x_coordinate': 1147484.0, 'y_coordinate': 1900142.0}, {'location_id': 90006, 'location_description': 'VEHICLE NON-COMMERCIAL', 'block': '020XX S CALIFORNIA AVE', 'beat': 1023, 'district': 10, 'ward': 28.0, 'community_area': 30.0, 'latitude': 41.854115166, 'longitude': -87.69551856700001, 'x_coordinate': 1158012.0, 'y_coordinate': 1890075.0}, {'location_id': 90007, 'location_description': 'APARTMENT', 'block': '053XX S MARSHFIELD AVE', 'beat': 932, 'district': 9, 'ward': 16.0, 'community_area': 61.0, 'latitude': 41.797187006, 'longitude': -87.665882689, 'x_coordinate': 1166247.0, 'y_coordinate': 1869392.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 99998, 'location_description': 'STREET', 'block': '033XX W WARREN BLVD', 'beat': 1123, 'district': 11, 'ward': 28.0, 'community_area': 27.0, 'latitude': 41.881832133, 'longitude': -87.70950946399999, 'x_coordinate': 1154127.0, 'y_coordinate': 1900147.0}, {'location_id': 99999, 'location_description': 'SIDEWALK', 'block': '002XX W 31ST ST', 'beat': 914, 'district': 9, 'ward': 11.0, 'community_area': 34.0, 'latitude': 41.838212915, 'longitude': -87.63344215, 'x_coordinate': 1174971.0, 'y_coordinate': 1884412.0})
2020-12-18 10:06:37,009 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:37,010 INFO sqlalchemy.engine.base.Engine ({'location_id': 100000, 'location_description': 'APARTMENT', 'block': '071XX S VERNON AVE', 'beat': 323, 'district': 3, 'ward': 6.0, 'community_area': 69.0, 'latitude': 41.765202296999995, 'longitude': -87.614046499, 'x_coordinate': 1180479.0, 'y_coordinate': 1857851.0}, {'location_id': 100001, 'location_description': 'STREET', 'block': '029XX W COYLE AVE', 'beat': 2411, 'district': 24, 'ward': 50.0, 'community_area': 2.0, 'latitude': 42.007494126, 'longitude': -87.70276045700001, 'x_coordinate': 1155628.0, 'y_coordinate': 1945952.0}, {'location_id': 100002, 'location_description': 'STREET', 'block': '029XX W FULLERTON AVE', 'beat': 1414, 'district': 14, 'ward': 35.0, 'community_area': 22.0, 'latitude': 41.924773191, 'longitude': -87.70134148, 'x_coordinate': 1156236.0, 'y_coordinate': 1915811.0}, {'location_id': 100003, 'location_description': 'STREET', 'block': '035XX W CHICAGO AVE', 'beat': 1121, 'district': 11, 'ward': 27.0, 'community_area': 23.0, 'latitude': 41.895469944, 'longitude': -87.715400443, 'x_coordinate': 1152487.0, 'y_coordinate': 1905105.0}, {'location_id': 100004, 'location_description': 'RESTAURANT', 'block': '062XX N SHERIDAN RD', 'beat': 2433, 'district': 24, 'ward': 49.0, 'community_area': 77.0, 'latitude': 41.995221983, 'longitude': -87.655547749, 'x_coordinate': 1168495.0, 'y_coordinate': 1941578.0}, {'location_id': 100005, 'location_description': 'STREET', 'block': '040XX W ARTHINGTON ST', 'beat': 1132, 'district': 11, 'ward': 24.0, 'community_area': 26.0, 'latitude': 41.870014035, 'longitude': -87.72615355299999, 'x_coordinate': 1149625.0, 'y_coordinate': 1895808.0}, {'location_id': 100006, 'location_description': 'APARTMENT', 'block': '026XX W GRAND AVE', 'beat': 1313, 'district': 12, 'ward': 27.0, 'community_area': 23.0, 'latitude': 41.893091908, 'longitude': -87.69357365399999, 'x_coordinate': 1158436.0, 'y_coordinate': 1904282.0}, {'location_id': 100007, 'location_description': 'STREET', 'block': '077XX S SOUTH SHORE DR', 'beat': 421, 'district': 4, 'ward': 7.0, 'community_area': 43.0, 'latitude': 41.756496183, 'longitude': -87.55289378, 'x_coordinate': 1197191.0, 'y_coordinate': 1854824.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 109998, 'location_description': 'STREET', 'block': '014XX W LAKE ST', 'beat': 1333, 'district': 12, 'ward': 27.0, 'community_area': 28.0, 'latitude': 41.885397991, 'longitude': -87.663419265, 'x_coordinate': 1166668.0, 'y_coordinate': 1901541.0}, {'location_id': 109999, 'location_description': 'APARTMENT', 'block': '008XX N MAPLEWOOD AVE', 'beat': 1312, 'district': 12, 'ward': 1.0, 'community_area': 24.0, 'latitude': 41.896513616, 'longitude': -87.690560675, 'x_coordinate': 1159247.0, 'y_coordinate': 1905535.0})
2020-12-18 10:06:39,335 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:39,336 INFO sqlalchemy.engine.base.Engine ({'location_id': 110000, 'location_description': 'RESIDENCE', 'block': '061XX S CALIFORNIA AVE', 'beat': 823, 'district': 8, 'ward': 15.0, 'community_area': 66.0, 'latitude': 41.782137921, 'longitude': -87.693478839, 'x_coordinate': 1158763.0, 'y_coordinate': 1863851.0}, {'location_id': 110001, 'location_description': 'APARTMENT', 'block': '008XX N MAPLEWOOD AVE', 'beat': 1312, 'district': 12, 'ward': 1.0, 'community_area': 24.0, 'latitude': 41.896494407, 'longitude': -87.69056086799999, 'x_coordinate': 1159247.0, 'y_coordinate': 1905528.0}, {'location_id': 110002, 'location_description': 'STREET', 'block': '072XX S CHAMPLAIN AVE', 'beat': 323, 'district': 3, 'ward': 6.0, 'community_area': 69.0, 'latitude': 41.763127087, 'longitude': -87.609158031, 'x_coordinate': 1181819.0, 'y_coordinate': 1857106.0}, {'location_id': 110003, 'location_description': 'RESIDENCE', 'block': '115XX S LAFAYETTE AVE', 'beat': 522, 'district': 5, 'ward': 34.0, 'community_area': 53.0, 'latitude': 41.683923166999996, 'longitude': -87.624082784, 'x_coordinate': 1177985.0, 'y_coordinate': 1828211.0}, {'location_id': 110004, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '033XX W 47TH ST', 'beat': 821, 'district': 8, 'ward': 14.0, 'community_area': 58.0, 'latitude': 41.808069268000004, 'longitude': -87.70803582, 'x_coordinate': 1154724.0, 'y_coordinate': 1873271.0}, {'location_id': 110005, 'location_description': 'RESIDENCE', 'block': '082XX S MOZART ST', 'beat': 835, 'district': 8, 'ward': 18.0, 'community_area': 70.0, 'latitude': 41.743803922, 'longitude': -87.693687357, 'x_coordinate': 1158810.0, 'y_coordinate': 1849882.0}, {'location_id': 110006, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '056XX W CHICAGO AVE', 'beat': 1511, 'district': 15, 'ward': 29.0, 'community_area': 25.0, 'latitude': 41.894828122, 'longitude': -87.76709224, 'x_coordinate': 1138415.0, 'y_coordinate': 1904774.0}, {'location_id': 110007, 'location_description': 'SIDEWALK', 'block': '027XX S WENTWORTH AVE', 'beat': 914, 'district': 9, 'ward': 11.0, 'community_area': 34.0, 'latitude': 41.843074007, 'longitude': -87.631807419, 'x_coordinate': 1175402.0, 'y_coordinate': 1886187.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 119998, 'location_description': 'SIDEWALK', 'block': '045XX N ELSTON AVE', 'beat': 1722, 'district': 17, 'ward': 39.0, 'community_area': 14.0, 'latitude': 41.9632472, 'longitude': -87.733060437, 'x_coordinate': 1147506.0, 'y_coordinate': 1929769.0}, {'location_id': 119999, 'location_description': 'RESIDENCE-GARAGE', 'block': '062XX S KOMENSKY AVE', 'beat': 813, 'district': 8, 'ward': 13.0, 'community_area': 65.0, 'latitude': 41.779801131999996, 'longitude': -87.72401356399999, 'x_coordinate': 1150441.0, 'y_coordinate': 1862939.0})

2020-12-18 10:06:41,511 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:41,512 INFO sqlalchemy.engine.base.Engine ({'location_id': 120000, 'location_description': 'APARTMENT', 'block': '027XX W CERMAK RD', 'beat': 1034, 'district': 10, 'ward': 28.0, 'community_area': 30.0, 'latitude': 41.851912261, 'longitude': -87.694663208, 'x_coordinate': 1158251.0, 'y_coordinate': 1889274.0}, {'location_id': 120001, 'location_description': 'RESIDENCE', 'block': '113XX S WALLACE ST', 'beat': 2233, 'district': 22, 'ward': 34.0, 'community_area': 49.0, 'latitude': 41.688027804, 'longitude': -87.637404534, 'x_coordinate': 1174334.0, 'y_coordinate': 1829677.0}, {'location_id': 120002, 'location_description': 'VEHICLE NON-COMMERCIAL', 'block': '035XX N RETA AVE', 'beat': 1924, 'district': 19, 'ward': 44.0, 'community_area': 6.0, 'latitude': 41.946011453000004, 'longitude': -87.65066204600001, 'x_coordinate': 1169966.0, 'y_coordinate': 1923656.0}, {'location_id': 120003, 'location_description': 'STREET', 'block': '002XX W 104TH PL', 'beat': 512, 'district': 5, 'ward': 34.0, 'community_area': 49.0, 'latitude': 41.704359075999996, 'longitude': -87.629256127, 'x_coordinate': 1176511.0, 'y_coordinate': 1835646.0}, {'location_id': 120004, 'location_description': 'STREET', 'block': '0000X W 75TH ST', 'beat': 623, 'district': 6, 'ward': 6.0, 'community_area': 69.0, 'latitude': 41.758181815, 'longitude': -87.626780584, 'x_coordinate': 1177026.0, 'y_coordinate': 1855264.0}, {'location_id': 120005, 'location_description': 'RESTAURANT', 'block': '035XX N CICERO AVE', 'beat': 1634, 'district': 16, 'ward': 38.0, 'community_area': 15.0, 'latitude': 41.945597340999996, 'longitude': -87.747047239, 'x_coordinate': 1143746.0, 'y_coordinate': 1923311.0}, {'location_id': 120006, 'location_description': 'CTA PLATFORM', 'block': '0000X W GRAND AVE', 'beat': 1831, 'district': 18, 'ward': 42.0, 'community_area': 8.0, 'latitude': 41.891662431, 'longitude': -87.62846634899999, 'x_coordinate': 1176167.0, 'y_coordinate': 1903900.0}, {'location_id': 120007, 'location_description': 'STREET', 'block': '052XX N LAPORTE AVE', 'beat': 1621, 'district': 16, 'ward': 45.0, 'community_area': 12.0, 'latitude': 41.976837493000005, 'longitude': -87.751913174, 'x_coordinate': 1142345.0, 'y_coordinate': 1934686.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 129998, 'location_description': 'APARTMENT', 'block': '054XX S JUSTINE ST', 'beat': 934, 'district': 9, 'ward': 16.0, 'community_area': 61.0, 'latitude': 41.795229612, 'longitude': -87.66340194, 'x_coordinate': 1166929.0, 'y_coordinate': 1868684.0}, {'location_id': 129999, 'location_description': 'RESIDENCE-GARAGE', 'block': '019XX N ORCHARD ST', 'beat': 1813, 'district': 18, 'ward': 43.0, 'community_area': 7.0, 'latitude': 41.916607055, 'longitude': -87.646048439, 'x_coordinate': 1171307.0, 'y_coordinate': 1912951.0})
2020-12-18 10:06:43,704 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:43,705 INFO sqlalchemy.engine.base.Engine ({'location_id': 130000, 'location_description': 'SIDEWALK', 'block': '053XX W LE MOYNE ST', 'beat': 2532, 'district': 25, 'ward': 37.0, 'community_area': 25.0, 'latitude': 41.907651444, 'longitude': -87.758702141, 'x_coordinate': 1140668.0, 'y_coordinate': 1909462.0}, {'location_id': 130001, 'location_description': 'SIDEWALK', 'block': '013XX E 67TH ST', 'beat': 321, 'district': 3, 'ward': 5.0, 'community_area': 69.0, 'latitude': 41.773268941, 'longitude': -87.592635016, 'x_coordinate': 1186295.0, 'y_coordinate': 1860840.0}, {'location_id': 130002, 'location_description': 'STREET', 'block': '058XX S HALSTED ST', 'beat': 712, 'district': 7, 'ward': 16.0, 'community_area': 68.0, 'latitude': 41.787601374, 'longitude': -87.64498233200001, 'x_coordinate': 1171974.0, 'y_coordinate': 1865944.0}, {'location_id': 130003, 'location_description': 'RESIDENCE', 'block': '056XX S UNION AVE', 'beat': 711, 'district': 7, 'ward': 3.0, 'community_area': 68.0, 'latitude': 41.792022255, 'longitude': -87.642668793, 'x_coordinate': 1172592.0, 'y_coordinate': 1867560.0}, {'location_id': 130004, 'location_description': 'ALLEY', 'block': '006XX N HAMLIN AVE', 'beat': 1122, 'district': 11, 'ward': 27.0, 'community_area': 23.0, 'latitude': 41.892520244, 'longitude': -87.72110336, 'x_coordinate': 1150942.0, 'y_coordinate': 1904019.0}, {'location_id': 130005, 'location_description': 'APARTMENT', 'block': '031XX W AUGUSTA BLVD', 'beat': 1311, 'district': 12, 'ward': 26.0, 'community_area': 23.0, 'latitude': 41.899207667, 'longitude': -87.705296199, 'x_coordinate': 1155228.0, 'y_coordinate': 1906487.0}, {'location_id': 130006, 'location_description': 'APARTMENT', 'block': '026XX S CHRISTIANA AVE', 'beat': 1032, 'district': 10, 'ward': 22.0, 'community_area': 30.0, 'latitude': 41.843471069, 'longitude': -87.708663794, 'x_coordinate': 1154459.0, 'y_coordinate': 1886170.0}, {'location_id': 130007, 'location_description': 'STREET', 'block': '003XX E 63RD ST', 'beat': 311, 'district': 3, 'ward': 20.0, 'community_area': 40.0, 'latitude': 41.780217525, 'longitude': -87.61687415600001, 'x_coordinate': 1179662.0, 'y_coordinate': 1863316.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 139998, 'location_description': 'SIDEWALK', 'block': '032XX S KEDZIE AVE', 'beat': 1032, 'district': 10, 'ward': 22.0, 'community_area': 30.0, 'latitude': 41.834821751, 'longitude': -87.704751817, 'x_coordinate': 1155548.0, 'y_coordinate': 1883026.0}, {'location_id': 139999, 'location_description': 'STREET', 'block': '008XX N FAIRFIELD AVE', 'beat': 1311, 'district': 12, 'ward': 26.0, 'community_area': 24.0, 'latitude': 41.896110196, 'longitude': -87.695479207, 'x_coordinate': 1157909.0, 'y_coordinate': 1905378.0})
2020-12-18 10:06:45,900 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:45,901 INFO sqlalchemy.engine.base.Engine ({'location_id': 140000, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '080XX S BURNHAM AVE', 'beat': 422, 'district': 4, 'ward': 7.0, 'community_area': 46.0, 'latitude': 41.749366177, 'longitude': -87.55649085299999, 'x_coordinate': 1196233.0, 'y_coordinate': 1852217.0}, {'location_id': 140001, 'location_description': 'STREET', 'block': '015XX S LAWNDALE AVE', 'beat': 1014, 'district': 10, 'ward': 24.0, 'community_area': 29.0, 'latitude': 41.860152715, 'longitude': -87.717678846, 'x_coordinate': 1151959.0, 'y_coordinate': 1892231.0}, {'location_id': 140002, 'location_description': 'ALLEY', 'block': '011XX S WHIPPLE ST', 'beat': 1134, 'district': 11, 'ward': 28.0, 'community_area': 29.0, 'latitude': 41.867603546, 'longitude': -87.70204071799999, 'x_coordinate': 1156199.0, 'y_coordinate': 1894977.0}, {'location_id': 140003, 'location_description': 'SIDEWALK', 'block': '021XX W ADAMS ST', 'beat': 1211, 'district': 12, 'ward': 2.0, 'community_area': 28.0, 'latitude': 41.878672479, 'longitude': -87.68068553200001, 'x_coordinate': 1161985.0, 'y_coordinate': 1899054.0}, {'location_id': 140004, 'location_description': 'APARTMENT', 'block': '063XX N SHERIDAN RD', 'beat': 2433, 'district': 24, 'ward': 49.0, 'community_area': 77.0, 'latitude': 41.996866019, 'longitude': -87.655592844, 'x_coordinate': 1168478.0, 'y_coordinate': 1942177.0}, {'location_id': 140005, 'location_description': 'STREET', 'block': '030XX W POLK ST', 'beat': 1134, 'district': 11, 'ward': 28.0, 'community_area': 27.0, 'latitude': 41.870997337, 'longitude': -87.701886163, 'x_coordinate': 1156232.0, 'y_coordinate': 1896214.0}, {'location_id': 140006, 'location_description': 'SIDEWALK', 'block': '051XX S UNIVERSITY AVE', 'beat': 233, 'district': 2, 'ward': 4.0, 'community_area': 41.0, 'latitude': 41.801796061, 'longitude': -87.598233422, 'x_coordinate': 1184679.0, 'y_coordinate': 1871222.0}, {'location_id': 140007, 'location_description': 'RESIDENCE', 'block': '082XX S DREXEL AVE', 'beat': 631, 'district': 6, 'ward': 8.0, 'community_area': 44.0, 'latitude': 41.74505265, 'longitude': -87.60258207700001, 'x_coordinate': 1183669.0, 'y_coordinate': 1850535.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 149998, 'location_description': 'SIDEWALK', 'block': '071XX S CALIFORNIA AVE', 'beat': 831, 'district': 8, 'ward': 18.0, 'community_area': 66.0, 'latitude': 41.763748489, 'longitude': -87.693005464, 'x_coordinate': 1158942.0, 'y_coordinate': 1857151.0}, {'location_id': 149999, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '027XX N ARTESIAN AVE', 'beat': 1411, 'district': 14, 'ward': 1.0, 'community_area': 22.0, 'latitude': 41.930961916, 'longitude': -87.689086713, 'x_coordinate': 1159554.0, 'y_coordinate': 1918091.0})

2020-12-18 10:06:48,101 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:48,102 INFO sqlalchemy.engine.base.Engine ({'location_id': 150000, 'location_description': 'DEPARTMENT STORE', 'block': '017XX W HOWARD ST', 'beat': 2422, 'district': 24, 'ward': 49.0, 'community_area': 1.0, 'latitude': 42.019399236999995, 'longitude': -87.675049485, 'x_coordinate': 1163126.0, 'y_coordinate': 1950347.0}, {'location_id': 150001, 'location_description': 'SIDEWALK', 'block': '0000X N LECLAIRE AVE', 'beat': 1533, 'district': 15, 'ward': 28.0, 'community_area': 25.0, 'latitude': 41.880760246, 'longitude': -87.752630735, 'x_coordinate': 1142387.0, 'y_coordinate': 1899674.0}, {'location_id': 150002, 'location_description': 'ALLEY', 'block': '034XX W FLOURNOY ST', 'beat': 1133, 'district': 11, 'ward': 24.0, 'community_area': 27.0, 'latitude': 41.872707718, 'longitude': -87.712080245, 'x_coordinate': 1153451.0, 'y_coordinate': 1896817.0}, {'location_id': 150003, 'location_description': 'RESIDENCE', 'block': '002XX W 107TH PL', 'beat': 513, 'district': 5, 'ward': 34.0, 'community_area': 49.0, 'latitude': 41.698889795999996, 'longitude': -87.629282832, 'x_coordinate': 1176520.0, 'y_coordinate': 1833653.0}, {'location_id': 150004, 'location_description': 'SIDEWALK', 'block': '034XX S CARPENTER ST', 'beat': 913, 'district': 9, 'ward': 11.0, 'community_area': 60.0, 'latitude': 41.832488763, 'longitude': -87.652221947, 'x_coordinate': 1169870.0, 'y_coordinate': 1882285.0}, {'location_id': 150005, 'location_description': 'STREET', 'block': '069XX S EMERALD AVE', 'beat': 732, 'district': 7, 'ward': 6.0, 'community_area': 68.0, 'latitude': 41.768364485999996, 'longitude': -87.64325252399999, 'x_coordinate': 1172502.0, 'y_coordinate': 1858938.0}, {'location_id': 150006, 'location_description': 'SIDEWALK', 'block': '038XX W HIRSCH ST', 'beat': 2535, 'district': 25, 'ward': 30.0, 'community_area': 23.0, 'latitude': 41.906307706999996, 'longitude': -87.723241931, 'x_coordinate': 1150324.0, 'y_coordinate': 1909039.0}, {'location_id': 150007, 'location_description': 'SIDEWALK', 'block': '011XX W WOLFRAM ST', 'beat': 1933, 'district': 19, 'ward': 44.0, 'community_area': 6.0, 'latitude': 41.933486091999995, 'longitude': -87.657491756, 'x_coordinate': 1168144.0, 'y_coordinate': 1919077.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 159998, 'location_description': 'STREET', 'block': '011XX E 85TH ST', 'beat': 412, 'district': 4, 'ward': 8.0, 'community_area': 45.0, 'latitude': 41.740102951, 'longitude': -87.59587061, 'x_coordinate': 1185516.0, 'y_coordinate': 1848747.0}, {'location_id': 159999, 'location_description': 'RESIDENCE', 'block': '056XX S PERRY AVE', 'beat': 225, 'district': 2, 'ward': 3.0, 'community_area': 40.0, 'latitude': 41.7920523, 'longitude': -87.62774354700001, 'x_coordinate': 1176662.0, 'y_coordinate': 1867604.0})
2020-12-18 10:06:50,405 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:50,406 INFO sqlalchemy.engine.base.Engine ({'location_id': 160000, 'location_description': 'RESIDENCE', 'block': '021XX W 53RD PL', 'beat': 932, 'district': 9, 'ward': 16.0, 'community_area': 61.0, 'latitude': 41.796623938, 'longitude': -87.67819239399999, 'x_coordinate': 1162892.0, 'y_coordinate': 1869161.0}, {'location_id': 160001, 'location_description': 'RESIDENCE', 'block': '080XX S RHODES AVE', 'beat': 631, 'district': 6, 'ward': 6.0, 'community_area': 44.0, 'latitude': 41.74844981, 'longitude': -87.611217594, 'x_coordinate': 1181302.0, 'y_coordinate': 1851753.0}, {'location_id': 160002, 'location_description': 'CTA BUS', 'block': '034XX W CHICAGO AVE', 'beat': 1121, 'district': 11, 'ward': 27.0, 'community_area': 23.0, 'latitude': 41.895505083, 'longitude': -87.71174182, 'x_coordinate': 1153483.0, 'y_coordinate': 1905125.0}, {'location_id': 160003, 'location_description': 'RESIDENCE', 'block': '001XX S CALIFORNIA AVE', 'beat': 1125, 'district': 11, 'ward': 2.0, 'community_area': 27.0, 'latitude': 41.879808186, 'longitude': -87.69625092, 'x_coordinate': 1157743.0, 'y_coordinate': 1899436.0}, {'location_id': 160004, 'location_description': 'RESIDENCE', 'block': '106XX S AVENUE B', 'beat': 432, 'district': 4, 'ward': 10.0, 'community_area': 52.0, 'latitude': 41.701993265, 'longitude': -87.525748193, 'x_coordinate': 1204784.0, 'y_coordinate': 1835032.0}, {'location_id': 160005, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '006XX N CENTRAL PARK AVE', 'beat': 1121, 'district': 11, 'ward': 27.0, 'community_area': 23.0, 'latitude': 41.892680776, 'longitude': -87.716231674, 'x_coordinate': 1152268.0, 'y_coordinate': 1904087.0}, {'location_id': 160006, 'location_description': 'BANK', 'block': '095XX S STONY ISLAND AVE', 'beat': 431, 'district': 4, 'ward': 7.0, 'community_area': 51.0, 'latitude': 41.721843846, 'longitude': -87.585071938, 'x_coordinate': 1188521.0, 'y_coordinate': 1842119.0}, {'location_id': 160007, 'location_description': 'SIDEWALK', 'block': '003XX S KILPATRICK AVE', 'beat': 1131, 'district': 11, 'ward': 24.0, 'community_area': 25.0, 'latitude': 41.876609629, 'longitude': -87.742688095, 'x_coordinate': 1145105.0, 'y_coordinate': 1898180.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 169998, 'location_description': 'APARTMENT', 'block': '046XX S WHIPPLE ST', 'beat': 922, 'district': 9, 'ward': 14.0, 'community_area': 58.0, 'latitude': 41.809229134, 'longitude': -87.700343659, 'x_coordinate': 1156818.0, 'y_coordinate': 1873709.0}, {'location_id': 169999, 'location_description': 'RESIDENCE', 'block': '053XX W NEWPORT AVE', 'beat': 1634, 'district': 16, 'ward': 38.0, 'community_area': 15.0, 'latitude': 41.943223399000004, 'longitude': -87.760051621, 'x_coordinate': 1140214.0, 'y_coordinate': 1922422.0})
2020-12-18 10:06:52,742 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:52,743 INFO sqlalchemy.engine.base.Engine ({'location_id': 170000, 'location_description': 'CTA BUS STOP', 'block': '025XX S ARCHER AVE', 'beat': 913, 'district': 9, 'ward': 11.0, 'community_area': 60.0, 'latitude': 41.846820191999996, 'longitude': -87.647298713, 'x_coordinate': 1171170.0, 'y_coordinate': 1887518.0}, {'location_id': 170001, 'location_description': 'RESIDENCE PORCH/HALLWAY', 'block': '044XX S CALUMET AVE', 'beat': 215, 'district': 2, 'ward': 3.0, 'community_area': 38.0, 'latitude': 41.814088014, 'longitude': -87.61828694, 'x_coordinate': 1179174.0, 'y_coordinate': 1875655.0}, {'location_id': 170002, 'location_description': 'RESIDENCE', 'block': '061XX N SHERIDAN RD', 'beat': 2433, 'district': 24, 'ward': 48.0, 'community_area': 77.0, 'latitude': 41.993717892, 'longitude': -87.655501171, 'x_coordinate': 1168512.0, 'y_coordinate': 1941030.0}, {'location_id': 170003, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '123XX S AVENUE O', 'beat': 433, 'district': 4, 'ward': 10.0, 'community_area': 55.0, 'latitude': 41.670234415, 'longitude': -87.539318057, 'x_coordinate': 1201185.0, 'y_coordinate': 1823425.0}, {'location_id': 170004, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '035XX W VAN BUREN ST', 'beat': 1133, 'district': 11, 'ward': 28.0, 'community_area': 27.0, 'latitude': 41.875416688, 'longitude': -87.713676957, 'x_coordinate': 1153009.0, 'y_coordinate': 1897801.0}, {'location_id': 170005, 'location_description': 'STREET', 'block': '020XX W 19TH ST', 'beat': 1223, 'district': 12, 'ward': 25.0, 'community_area': 31.0, 'latitude': 41.855817316999996, 'longitude': -87.67713346, 'x_coordinate': 1163016.0, 'y_coordinate': 1890733.0}, {'location_id': 170006, 'location_description': 'RESIDENCE-GARAGE', 'block': '029XX W 53RD ST', 'beat': 923, 'district': 9, 'ward': 14.0, 'community_area': 63.0, 'latitude': 41.797267426, 'longitude': -87.697971244, 'x_coordinate': 1157497.0, 'y_coordinate': 1869355.0}, {'location_id': 170007, 'location_description': 'RESIDENCE-GARAGE', 'block': '056XX W 64TH PL', 'beat': 812, 'district': 8, 'ward': 13.0, 'community_area': 64.0, 'latitude': 41.775314065, 'longitude': -87.76245489899999, 'x_coordinate': 1139967.0, 'y_coordinate': 1861232.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 179998, 'location_description': 'APARTMENT', 'block': '046XX N WINCHESTER AVE', 'beat': 1912, 'district': 19, 'ward': 47.0, 'community_area': 4.0, 'latitude': 41.965778665, 'longitude': -87.677613101, 'x_coordinate': 1162579.0, 'y_coordinate': 1930802.0}, {'location_id': 179999, 'location_description': 'OTHER', 'block': '006XX N CICERO AVE', 'beat': 1111, 'district': 11, 'ward': 28.0, 'community_area': 25.0, 'latitude': 41.892012084, 'longitude': -87.745701134, 'x_coordinate': 1144246.0, 'y_coordinate': 1903787.0})

2020-12-18 10:06:55,034 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:55,035 INFO sqlalchemy.engine.base.Engine ({'location_id': 180000, 'location_description': 'SIDEWALK', 'block': '042XX W MONROE ST', 'beat': 1115, 'district': 11, 'ward': 28.0, 'community_area': 26.0, 'latitude': 41.879690716999995, 'longitude': -87.73145255799999, 'x_coordinate': 1148157.0, 'y_coordinate': 1899324.0}, {'location_id': 180001, 'location_description': 'VEHICLE NON-COMMERCIAL', 'block': '015XX S DRAKE AVE', 'beat': 1021, 'district': 10, 'ward': 24.0, 'community_area': 29.0, 'latitude': 41.860303214, 'longitude': -87.714024796, 'x_coordinate': 1152954.0, 'y_coordinate': 1892293.0}, {'location_id': 180002, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '018XX S FEDERAL ST', 'beat': 131, 'district': 1, 'ward': 3.0, 'community_area': 33.0, 'latitude': 41.857327016, 'longitude': -87.62945654, 'x_coordinate': 1176000.0, 'y_coordinate': 1891386.0}, {'location_id': 180003, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '040XX W HARRISON ST', 'beat': 1132, 'district': 11, 'ward': 24.0, 'community_area': 26.0, 'latitude': 41.873437053, 'longitude': -87.726330444, 'x_coordinate': 1149568.0, 'y_coordinate': 1897055.0}, {'location_id': 180004, 'location_description': 'SIDEWALK', 'block': '008XX N DRAKE AVE', 'beat': 1121, 'district': 11, 'ward': 27.0, 'community_area': 23.0, 'latitude': 41.895984293000005, 'longitude': -87.71510899, 'x_coordinate': 1152565.0, 'y_coordinate': 1905293.0}, {'location_id': 180005, 'location_description': 'RESIDENCE PORCH/HALLWAY', 'block': '041XX N PULASKI RD', 'beat': 1723, 'district': 17, 'ward': 39.0, 'community_area': 16.0, 'latitude': 41.956454556, 'longitude': -87.727697707, 'x_coordinate': 1148982.0, 'y_coordinate': 1927304.0}, {'location_id': 180006, 'location_description': 'VEHICLE NON-COMMERCIAL', 'block': '072XX S COLES AVE', 'beat': 334, 'district': 3, 'ward': 7.0, 'community_area': 43.0, 'latitude': 41.764277154, 'longitude': -87.562784226, 'x_coordinate': 1194467.0, 'y_coordinate': 1857635.0}, {'location_id': 180007, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '063XX W DIVERSEY AVE', 'beat': 2512, 'district': 25, 'ward': 29.0, 'community_area': 19.0, 'latitude': 41.931028622, 'longitude': -87.78373607200001, 'x_coordinate': 1133799.0, 'y_coordinate': 1917936.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 189998, 'location_description': 'SIDEWALK', 'block': '059XX N ROCKWELL ST', 'beat': 2011, 'district': 20, 'ward': 40.0, 'community_area': 2.0, 'latitude': 41.98931757, 'longitude': -87.694498035, 'x_coordinate': 1157923.0, 'y_coordinate': 1939345.0}, {'location_id': 189999, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '016XX E 79TH ST', 'beat': 411, 'district': 4, 'ward': 8.0, 'community_area': 46.0, 'latitude': 41.751501435, 'longitude': -87.585050097, 'x_coordinate': 1188433.0, 'y_coordinate': 1852926.0})
2020-12-18 10:06:57,253 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:57,254 INFO sqlalchemy.engine.base.Engine ({'location_id': 190000, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '022XX W BELDEN AVE', 'beat': 1432, 'district': 14, 'ward': 32.0, 'community_area': 22.0, 'latitude': 41.923424482, 'longitude': -87.683896879, 'x_coordinate': 1160987.0, 'y_coordinate': 1915355.0}, {'location_id': 190001, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '033XX W CONGRESS PKWY', 'beat': 1134, 'district': 11, 'ward': 28.0, 'community_area': 27.0, 'latitude': 41.874590015, 'longitude': -87.70899608100001, 'x_coordinate': 1154286.0, 'y_coordinate': 1897509.0}, {'location_id': 190002, 'location_description': 'RESIDENCE', 'block': '004XX E 88TH PL', 'beat': 632, 'district': 6, 'ward': 6.0, 'community_area': 44.0, 'latitude': 41.733781167, 'longitude': -87.613353013, 'x_coordinate': 1180764.0, 'y_coordinate': 1846403.0}, {'location_id': 190003, 'location_description': 'STREET', 'block': '025XX W 46TH PL', 'beat': 922, 'district': 9, 'ward': 12.0, 'community_area': 58.0, 'latitude': 41.809290751999995, 'longitude': -87.688234834, 'x_coordinate': 1160119.0, 'y_coordinate': 1873756.0}, {'location_id': 190004, 'location_description': 'STREET', 'block': '052XX W GEORGE ST', 'beat': 2514, 'district': 25, 'ward': 31.0, 'community_area': 19.0, 'latitude': 41.933213033, 'longitude': -87.757421667, 'x_coordinate': 1140954.0, 'y_coordinate': 1918779.0}, {'location_id': 190005, 'location_description': 'SIDEWALK', 'block': '053XX W SCHUBERT AVE', 'beat': 2514, 'district': 25, 'ward': 31.0, 'community_area': 19.0, 'latitude': 41.929544302, 'longitude': -87.75967432700001, 'x_coordinate': 1140350.0, 'y_coordinate': 1917438.0}, {'location_id': 190006, 'location_description': 'SIDEWALK', 'block': '009XX W WAVELAND AVE', 'beat': 1923, 'district': 19, 'ward': 44.0, 'community_area': 6.0, 'latitude': 41.949073825, 'longitude': -87.652482099, 'x_coordinate': 1169462.0, 'y_coordinate': 1924768.0}, {'location_id': 190007, 'location_description': 'SIDEWALK', 'block': '007XX E 111TH ST', 'beat': 531, 'district': 5, 'ward': 9.0, 'community_area': 50.0, 'latitude': 41.692833841, 'longitude': -87.60431945, 'x_coordinate': 1183356.0, 'y_coordinate': 1831503.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 199998, 'location_description': 'RESIDENCE-GARAGE', 'block': '049XX S KEELER AVE', 'beat': 815, 'district': 8, 'ward': 23.0, 'community_area': 57.0, 'latitude': 41.803378313, 'longitude': -87.72835286600001, 'x_coordinate': 1149197.0, 'y_coordinate': 1871522.0}, {'location_id': 199999, 'location_description': 'RESIDENCE', 'block': '089XX S COTTAGE GROVE AVE', 'beat': 633, 'district': 6, 'ward': 8.0, 'community_area': 44.0, 'latitude': 41.732609836, 'longitude': -87.604723492, 'x_coordinate': 1183123.0, 'y_coordinate': 1845996.0})
2020-12-18 10:06:59,440 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:06:59,440 INFO sqlalchemy.engine.base.Engine ({'location_id': 200000, 'location_description': 'STREET', 'block': '085XX S ABERDEEN ST', 'beat': 613, 'district': 6, 'ward': 21.0, 'community_area': 71.0, 'latitude': 41.739063155, 'longitude': -87.650996994, 'x_coordinate': 1170474.0, 'y_coordinate': 1848244.0}, {'location_id': 200001, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '038XX S COTTAGE GROVE AVE', 'beat': 212, 'district': 2, 'ward': 4.0, 'community_area': 36.0, 'latitude': 41.824614344000004, 'longitude': -87.607240134, 'x_coordinate': 1182153.0, 'y_coordinate': 1879516.0}, {'location_id': 200002, 'location_description': 'APARTMENT', 'block': '083XX S KINGSTON AVE', 'beat': 423, 'district': 4, 'ward': 7.0, 'community_area': 46.0, 'latitude': 41.743703739000004, 'longitude': -87.56246229700001, 'x_coordinate': 1194622.0, 'y_coordinate': 1850139.0}, {'location_id': 200003, 'location_description': 'PARKING LOT/GARAGE(NON.RESID.)', 'block': '002XX E 115TH ST', 'beat': 531, 'district': 5, 'ward': 9.0, 'community_area': 49.0, 'latitude': 41.685389871, 'longitude': -87.616320016, 'x_coordinate': 1180101.0, 'y_coordinate': 1828763.0}, {'location_id': 200004, 'location_description': 'APARTMENT', 'block': '018XX E 79TH ST', 'beat': 414, 'district': 4, 'ward': 8.0, 'community_area': 43.0, 'latitude': 41.751565425, 'longitude': -87.579306695, 'x_coordinate': 1190000.0, 'y_coordinate': 1852963.0}, {'location_id': 200005, 'location_description': 'RESIDENTIAL YARD (FRONT/BACK)', 'block': '066XX S MAPLEWOOD AVE', 'beat': 832, 'district': 8, 'ward': 15.0, 'community_area': 66.0, 'latitude': 41.772950197, 'longitude': -87.687136377, 'x_coordinate': 1160518.0, 'y_coordinate': 1860516.0}, {'location_id': 200006, 'location_description': 'ANIMAL HOSPITAL', 'block': '046XX N KENMORE AVE', 'beat': 1914, 'district': 19, 'ward': 46.0, 'community_area': 3.0, 'latitude': 41.966356855, 'longitude': -87.65619576600001, 'x_coordinate': 1168402.0, 'y_coordinate': 1931058.0}, {'location_id': 200007, 'location_description': 'STREET', 'block': '005XX W ALDINE AVE', 'beat': 1925, 'district': 19, 'ward': 44.0, 'community_area': 6.0, 'latitude': 41.942252392, 'longitude': -87.643402299, 'x_coordinate': 1171952.0, 'y_coordinate': 1922302.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 209998, 'location_description': 'RESIDENCE', 'block': '076XX S YATES BLVD', 'beat': 421, 'district': 4, 'ward': 7.0, 'community_area': 43.0, 'latitude': 41.756268248000005, 'longitude': -87.56631781700001, 'x_coordinate': 1193529.0, 'y_coordinate': 1854708.0}, {'location_id': 209999, 'location_description': 'STREET', 'block': '064XX S DORCHESTER AVE', 'beat': 314, 'district': 3, 'ward': 20.0, 'community_area': 42.0, 'latitude': 41.778291541, 'longitude': -87.591444345, 'x_coordinate': 1186604.0, 'y_coordinate': 1862673.0})

2020-12-18 10:07:01,744 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:07:01,745 INFO sqlalchemy.engine.base.Engine ({'location_id': 210000, 'location_description': 'STREET', 'block': '007XX S KEDZIE AVE', 'beat': 1134, 'district': 11, 'ward': 24.0, 'community_area': 27.0, 'latitude': 41.872553245, 'longitude': -87.70587663200001, 'x_coordinate': 1155141.0, 'y_coordinate': 1896773.0}, {'location_id': 210001, 'location_description': 'STREET', 'block': '002XX E 68TH ST', 'beat': 322, 'district': 3, 'ward': 20.0, 'community_area': 69.0, 'latitude': 41.771079015, 'longitude': -87.6195163, 'x_coordinate': 1178969.0, 'y_coordinate': 1859980.0}, {'location_id': 210002, 'location_description': 'VEHICLE NON-COMMERCIAL', 'block': '0000X W 31ST ST', 'beat': 211, 'district': 2, 'ward': 3.0, 'community_area': 35.0, 'latitude': 41.838293789, 'longitude': -87.627375262, 'x_coordinate': 1176624.0, 'y_coordinate': 1884455.0}, {'location_id': 210003, 'location_description': 'RESIDENCE', 'block': '111XX S UNION AVE', 'beat': 2233, 'district': 22, 'ward': 34.0, 'community_area': 49.0, 'latitude': 41.691410351, 'longitude': -87.63992734899999, 'x_coordinate': 1173635.0, 'y_coordinate': 1830904.0}, {'location_id': 210004, 'location_description': 'RESIDENCE', 'block': '0000X W 114TH ST', 'beat': 522, 'district': 5, 'ward': 34.0, 'community_area': 49.0, 'latitude': 41.687121094, 'longitude': -87.62420874899999, 'x_coordinate': 1177941.0, 'y_coordinate': 1829376.0}, {'location_id': 210005, 'location_description': 'RESIDENCE-GARAGE', 'block': '118XX S LOOMIS ST', 'beat': 524, 'district': 5, 'ward': 34.0, 'community_area': 53.0, 'latitude': 41.678789423000005, 'longitude': -87.656546624, 'x_coordinate': 1169132.0, 'y_coordinate': 1826269.0}, {'location_id': 210006, 'location_description': 'STREET', 'block': '006XX W MADISON ST', 'beat': 121, 'district': 1, 'ward': 2.0, 'community_area': 28.0, 'latitude': 41.881816644000004, 'longitude': -87.644383332, 'x_coordinate': 1171862.0, 'y_coordinate': 1900277.0}, {'location_id': 210007, 'location_description': 'STREET', 'block': '041XX N KIMBALL AVE', 'beat': 1723, 'district': 17, 'ward': 33.0, 'community_area': 16.0, 'latitude': 41.956924975, 'longitude': -87.71300930299999, 'x_coordinate': 1152976.0, 'y_coordinate': 1927504.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 219998, 'location_description': 'OTHER', 'block': '005XX W BRIAR PL', 'beat': 1934, 'district': 19, 'ward': 44.0, 'community_area': 6.0, 'latitude': 41.938711174, 'longitude': -87.64274948799999, 'x_coordinate': 1172140.0, 'y_coordinate': 1921013.0}, {'location_id': 219999, 'location_description': 'RESIDENCE', 'block': '034XX N ELAINE PL', 'beat': 1925, 'district': 19, 'ward': 44.0, 'community_area': 6.0, 'latitude': 41.94428332, 'longitude': -87.647559753, 'x_coordinate': 1170815.0, 'y_coordinate': 1923033.0})
2020-12-18 10:07:04,062 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:07:04,063 INFO sqlalchemy.engine.base.Engine ({'location_id': 220000, 'location_description': 'SIDEWALK', 'block': '015XX W 50TH ST', 'beat': 933, 'district': 9, 'ward': 20.0, 'community_area': 61.0, 'latitude': 41.803163329, 'longitude': -87.66293052600001, 'x_coordinate': 1167035.0, 'y_coordinate': 1871576.0}, {'location_id': 220001, 'location_description': 'STREET', 'block': '029XX W ARGYLE ST', 'beat': 2031, 'district': 20, 'ward': 40.0, 'community_area': 4.0, 'latitude': 41.97214166, 'longitude': -87.70244366899999, 'x_coordinate': 1155809.0, 'y_coordinate': 1933070.0}, {'location_id': 220002, 'location_description': 'VACANT LOT/LAND', 'block': '013XX S SPRINGFIELD AVE', 'beat': 1011, 'district': 10, 'ward': 24.0, 'community_area': 29.0, 'latitude': 41.863527271, 'longitude': -87.722653917, 'x_coordinate': 1150595.0, 'y_coordinate': 1893451.0}, {'location_id': 220003, 'location_description': 'STREET', 'block': '052XX W MELROSE ST', 'beat': 1634, 'district': 16, 'ward': 30.0, 'community_area': 15.0, 'latitude': 41.939604521, 'longitude': -87.757459723, 'x_coordinate': 1140928.0, 'y_coordinate': 1921108.0}, {'location_id': 220004, 'location_description': 'RESTAURANT', 'block': '032XX W LAWRENCE AVE', 'beat': 1713, 'district': 17, 'ward': 33.0, 'community_area': 14.0, 'latitude': 41.968445202, 'longitude': -87.70896666, 'x_coordinate': 1154045.0, 'y_coordinate': 1931710.0}, {'location_id': 220005, 'location_description': 'SIDEWALK', 'block': '034XX W 16TH ST', 'beat': 1021, 'district': 10, 'ward': 24.0, 'community_area': 29.0, 'latitude': 41.859010133000005, 'longitude': -87.711893474, 'x_coordinate': 1153538.0, 'y_coordinate': 1891826.0}, {'location_id': 220006, 'location_description': 'STREET', 'block': '071XX S OAKLEY AVE', 'beat': 832, 'district': 8, 'ward': 18.0, 'community_area': 66.0, 'latitude': 41.764277395, 'longitude': -87.680680527, 'x_coordinate': 1162303.0, 'y_coordinate': 1857369.0}, {'location_id': 220007, 'location_description': 'SIDEWALK', 'block': '080XX S INGLESIDE AVE', 'beat': 631, 'district': 6, 'ward': 8.0, 'community_area': 44.0, 'latitude': 41.74903863, 'longitude': -87.60148513200001, 'x_coordinate': 1183956.0, 'y_coordinate': 1851990.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 229998, 'location_description': 'TAVERN/LIQUOR STORE', 'block': '019XX W NORTH AVE', 'beat': 1424, 'district': 14, 'ward': 1.0, 'community_area': 24.0, 'latitude': 41.910499348, 'longitude': -87.676691266, 'x_coordinate': 1162984.0, 'y_coordinate': 1910660.0}, {'location_id': 229999, 'location_description': 'STREET', 'block': '051XX W HUTCHINSON ST', 'beat': 1624, 'district': 16, 'ward': 45.0, 'community_area': 15.0, 'latitude': 41.957878934, 'longitude': -87.755953279, 'x_coordinate': 1141293.0, 'y_coordinate': 1927770.0})
2020-12-18 10:07:06,296 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:07:06,297 INFO sqlalchemy.engine.base.Engine ({'location_id': 230000, 'location_description': 'OTHER', 'block': '015XX N MILWAUKEE AVE', 'beat': 1424, 'district': 14, 'ward': 1.0, 'community_area': 24.0, 'latitude': 41.909488702, 'longitude': -87.676077082, 'x_coordinate': 1163154.0, 'y_coordinate': 1910293.0}, {'location_id': 230001, 'location_description': 'CTA BUS STOP', 'block': '009XX S STATE ST', 'beat': 123, 'district': 1, 'ward': 2.0, 'community_area': 32.0, 'latitude': 41.870366594000004, 'longitude': -87.627488753, 'x_coordinate': 1176497.0, 'y_coordinate': 1896142.0}, {'location_id': 230002, 'location_description': 'ALLEY', 'block': '013XX S ASHLAND AVE', 'beat': 1231, 'district': 12, 'ward': 2.0, 'community_area': 28.0, 'latitude': 41.864465341, 'longitude': -87.666328816, 'x_coordinate': 1165935.0, 'y_coordinate': 1893907.0}, {'location_id': 230003, 'location_description': 'RESIDENCE', 'block': '032XX S ABERDEEN ST', 'beat': 913, 'district': 9, 'ward': 11.0, 'community_area': 60.0, 'latitude': 41.834894861, 'longitude': -87.65350644899999, 'x_coordinate': 1169513.0, 'y_coordinate': 1883159.0}, {'location_id': 230004, 'location_description': 'RESIDENCE', 'block': '116XX S LAFAYETTE AVE', 'beat': 522, 'district': 5, 'ward': 34.0, 'community_area': 53.0, 'latitude': 41.682163693, 'longitude': -87.624025229, 'x_coordinate': 1178006.0, 'y_coordinate': 1827570.0}, {'location_id': 230005, 'location_description': 'SIDEWALK', 'block': '001XX S KOSTNER AVE', 'beat': 1113, 'district': 11, 'ward': 28.0, 'community_area': 26.0, 'latitude': 41.879420632, 'longitude': -87.73543560200001, 'x_coordinate': 1147073.0, 'y_coordinate': 1899218.0}, {'location_id': 230006, 'location_description': 'STREET', 'block': '024XX W WABANSIA AVE', 'beat': 1434, 'district': 14, 'ward': 1.0, 'community_area': 24.0, 'latitude': 41.912130751999996, 'longitude': -87.68757141299999, 'x_coordinate': 1160018.0, 'y_coordinate': 1911232.0}, {'location_id': 230007, 'location_description': 'ALLEY', 'block': '001XX S CENTRAL AVE', 'beat': 1513, 'district': 15, 'ward': 29.0, 'community_area': 25.0, 'latitude': 41.878631263, 'longitude': -87.764808046, 'x_coordinate': 1139076.0, 'y_coordinate': 1898876.0}  ... displaying 10 of 10000 total bound parameter sets ...  {'location_id': 239998, 'location_description': 'STREET', 'block': '049XX W LAWRENCE AVE', 'beat': 1623, 'district': 16, 'ward': 45.0, 'community_area': 12.0, 'latitude': 41.967995835, 'longitude': -87.750324158, 'x_coordinate': 1142799.0, 'y_coordinate': 1931467.0}, {'location_id': 239999, 'location_description': 'SIDEWALK', 'block': '019XX W 47TH ST', 'beat': 924, 'district': 9, 'ward': 20.0, 'community_area': 61.0, 'latitude': 41.808519934, 'longitude': -87.67379431399999, 'x_coordinate': 1164058.0, 'y_coordinate': 1873505.0})

2020-12-18 10:07:08,794 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.location (location_id, location_description, block, beat, district, ward, community_area, latitude, longitude, x_coordinate, y_coordinate) VALUES (%(location_id)s, %(location_description)s, %(block)s, %(beat)s, %(district)s, %(ward)s, %(community_area)s, %(latitude)s, %(longitude)s, %(x_coordinate)s, %(y_coordinate)s)
2020-12-18 10:07:08,795 INFO sqlalchemy.engine.base.Engine ({'location_id': 240000, 'location_description': 'RESIDENCE', 'block': '065XX S MAY ST', 'beat': 724, 'district': 7, 'ward': 17.0, 'community_area': 68.0, 'latitude': 41.775347515, 'longitude': -87.65317514600001, 'x_coordinate': 1169775.0, 'y_coordinate': 1861461.0}, {'location_id': 240001, 'location_description': 'STREET', 'block': '018XX N LOCKWOOD AVE', 'beat': 2532, 'district': 25, 'ward': 37.0, 'community_area': 25.0, 'latitude': 41.91387596, 'longitude': -87.75827156, 'x_coordinate': 1140770.0, 'y_coordinate': 1911731.0}, {'location_id': 240002, 'location_description': 'SIDEWALK', 'block': '047XX N ALBANY AVE', 'beat': 1713, 'district': 17, 'ward': 33.0, 'community_area': 14.0, 'latitude': 41.967366995, 'longitude': -87.705995059, 'x_coordinate': 1154856.0, 'y_coordinate': 1931323.0}, {'location_id': 240003, 'location_description': 'RESIDENCE', 'block': '033XX N OVERHILL AVE', 'beat': 1631, 'district': 16, 'ward': 36.0, 'community_area': 17.0, 'latitude': 41.940176821, 'longitude': -87.81904935, 'x_coordinate': 1124170.0, 'y_coordinate': 1921210.0}, {'location_id': 240004, 'location_description': 'RESIDENCE-GARAGE', 'block': '036XX S ALBANY AVE', 'beat': 911, 'district': 9, 'ward': 12.0, 'community_area': 58.0, 'latitude': 41.827647363000004, 'longitude': -87.70209219799999, 'x_coordinate': 1156292.0, 'y_coordinate': 1880417.0}, {'location_id': 240005, 'location_description': 'RESIDENCE', 'block': '049XX N NATCHEZ AVE', 'beat': 1613, 'district': 16, 'ward': 41.0, 'community_area': 10.0, 'latitude': 41.970996636, 'longitude': -87.789177044, 'x_coordinate': 1132226.0, 'y_coordinate': 1932491.0}, {'location_id': 240006, 'location_description': 'BAR OR TAVERN', 'block': '010XX N MILWAUKEE AVE', 'beat': 1213, 'district': 12, 'ward': 27.0, 'community_area': 24.0, 'latitude': 41.899898549, 'longitude': -87.661071135, 'x_coordinate': 1167266.0, 'y_coordinate': 1906830.0}, {'location_id': 240007, 'location_description': 'RESIDENCE', 'block': '044XX N DAMEN AVE', 'beat': 1912, 'district': 19, 'ward': 47.0, 'community_area': 4.0, 'latitude': 41.962004963000005, 'longitude': -87.67898279299999, 'x_coordinate': 1162217.0, 'y_coordinate': 1929424.0}  ... displaying 10 of 4517 total bound parameter sets ...  {'location_id': 244515, 'location_description': 'APARTMENT', 'block': '019XX S DRAKE AVE', 'beat': 1024, 'district': 10, 'ward': 24.0, 'community_area': 29.0, 'latitude': 41.854247595, 'longitude': -87.71369413299999, 'x_coordinate': 1153060.0, 'y_coordinate': 1890087.0}, {'location_id': 244516, 'location_description': 'RESIDENCE', 'block': '045XX W WRIGHTWOOD AVE', 'beat': 2521, 'district': 25, 'ward': 31.0, 'community_area': 20.0, 'latitude': 41.928605829, 'longitude': -87.740771814, 'x_coordinate': 1145496.0, 'y_coordinate': 1917131.0})
2020-12-18 10:07:09,741 INFO sqlalchemy.engine.base.Engine COMMIT

In [34]:
creport_df_sql.to_sql('crime_report', # The table to load
          engine,             # The engine created above
          schema= username,   # The schema where the table lives, our pawprint
          if_exists='append', # If the table is found, it would keep loading the end of table.
          index=False,        # Recall that panda data frame has a row index, so we need to ignore it
          chunksize=100000)       # Do 100000 records from the data frame at a time

2020-12-18 10:08:26,023 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2020-12-18 10:08:26,024 INFO sqlalchemy.engine.base.Engine {'schema': 'dlr6w3', 'name': 'crime_report'}
2020-12-18 10:08:26,148 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-18 10:08:27,070 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.crime_report (case_id, case_number, crime_id, location_id, arrest, domestic, case_date, case_year, updated_on) VALUES (%(case_id)s, %(case_number)s, %(crime_id)s, %(location_id)s, %(arrest)s, %(domestic)s, %(case_date)s, %(case_year)s, %(updated_on)s)
2020-12-18 10:08:27,071 INFO sqlalchemy.engine.base.Engine ({'case_id': 0, 'case_number': 'JD449284', 'crime_id': 0, 'location_id': 0, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 11, 27, 18, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2020, 12, 5, 15, 46, 44)}, {'case_id': 1, 'case_number': 'JD424223', 'crime_id': 1, 'location_id': 1, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 9, 15, 13, 30), 'case_year': 2012, 'updated_on': datetime.datetime(2020, 12, 5, 15, 44, 6)}, {'case_id': 2, 'case_number': 'JD447838', 'crime_id': 2, 'location_id': 2, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 1, 1, 0, 1), 'case_year': 2012, 'updated_on': datetime.datetime(2020, 12, 3, 15, 51, 39)}, {'case_id': 3, 'case_number': 'JD447109', 'crime_id': 3, 'location_id': 3, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 12, 7, 12, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2020, 12, 2, 15, 56, 38)}, {'case_id': 4, 'case_number': 'JD441224', 'crime_id': 3, 'location_id': 4, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 2, 27, 18, 50), 'case_year': 2012, 'updated_on': datetime.datetime(2020, 11, 26, 15, 48, 35)}, {'case_id': 5, 'case_number': 'HV359438', 'crime_id': 0, 'location_id': 5, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 6, 8, 0, 1), 'case_year': 2012, 'updated_on': datetime.datetime(2020, 11, 17, 15, 47, 1)}, {'case_id': 6, 'case_number': 'HV408789', 'crime_id': 4, 'location_id': 6, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 7, 31, 0, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2020, 11, 16, 15, 50, 4)}, {'case_id': 7, 'case_number': 'JD411991', 'crime_id': 0, 'location_id': 7, 'arrest': False, 'domestic': True, 'case_date': datetime.datetime(2012, 9, 27, 0, 1), 'case_year': 2012, 'updated_on': datetime.datetime(2020, 11, 14, 15, 48, 19)}  ... displaying 10 of 100000 total bound parameter sets ...  {'case_id': 99998, 'case_number': 'HV258814', 'crime_id': 34, 'location_id': 24638, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 23, 10, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 99999, 'case_number': 'HV258936', 'crime_id': 77, 'location_id': 83483, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 19, 16, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)})
2020-12-18 10:08:52,710 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.crime_report (case_id, case_number, crime_id, location_id, arrest, domestic, case_date, case_year, updated_on) VALUES (%(case_id)s, %(case_number)s, %(crime_id)s, %(location_id)s, %(arrest)s, %(domestic)s, %(case_date)s, %(case_year)s, %(updated_on)s)
2020-12-18 10:08:52,711 INFO sqlalchemy.engine.base.Engine ({'case_id': 100000, 'case_number': 'HV258896', 'crime_id': 249, 'location_id': 17762, 'arrest': True, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 26, 10, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 100001, 'case_number': 'HV258740', 'crime_id': 34, 'location_id': 83484, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 26, 8, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 100002, 'case_number': 'HV258780', 'crime_id': 104, 'location_id': 28682, 'arrest': True, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 26, 9, 10), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 100003, 'case_number': 'HV258794', 'crime_id': 33, 'location_id': 83485, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 26, 8, 20), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 100004, 'case_number': 'HV258903', 'crime_id': 9, 'location_id': 83486, 'arrest': True, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 26, 11, 13), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 100005, 'case_number': 'HV258964', 'crime_id': 20, 'location_id': 83487, 'arrest': False, 'domestic': True, 'case_date': datetime.datetime(2012, 4, 26, 11, 45), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 100006, 'case_number': 'HV258919', 'crime_id': 64, 'location_id': 83488, 'arrest': True, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 26, 11, 15), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 100007, 'case_number': 'HV258722', 'crime_id': 206, 'location_id': 83489, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 20, 9, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}  ... displaying 10 of 100000 total bound parameter sets ...  {'case_id': 199998, 'case_number': 'HV416238', 'crime_id': 26, 'location_id': 156474, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 8, 5, 4, 55), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 199999, 'case_number': 'HV416258', 'crime_id': 67, 'location_id': 90481, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 8, 5, 2, 30), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)})
2020-12-18 10:09:19,945 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.crime_report (case_id, case_number, crime_id, location_id, arrest, domestic, case_date, case_year, updated_on) VALUES (%(case_id)s, %(case_number)s, %(crime_id)s, %(location_id)s, %(arrest)s, %(domestic)s, %(case_date)s, %(case_year)s, %(updated_on)s)
2020-12-18 10:09:19,946 INFO sqlalchemy.engine.base.Engine ({'case_id': 200000, 'case_number': 'HV416235', 'crime_id': 124, 'location_id': 156475, 'arrest': True, 'domestic': False, 'case_date': datetime.datetime(2012, 8, 5, 4, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 200001, 'case_number': 'HV416265', 'crime_id': 37, 'location_id': 156476, 'arrest': False, 'domestic': True, 'case_date': datetime.datetime(2012, 8, 5, 5, 30), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 200002, 'case_number': 'HV415349', 'crime_id': 104, 'location_id': 156477, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 8, 3, 23, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 200003, 'case_number': 'HV415360', 'crime_id': 53, 'location_id': 156478, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 8, 4, 14, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 200004, 'case_number': 'HV416228', 'crime_id': 81, 'location_id': 49496, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 8, 5, 4, 7), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 200005, 'case_number': 'HV416215', 'crime_id': 35, 'location_id': 14445, 'arrest': True, 'domestic': False, 'case_date': datetime.datetime(2012, 8, 5, 3, 40), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}, {'case_id': 200006, 'case_number': 'HV416203', 'crime_id': 62, 'location_id': 13605, 'arrest': True, 'domestic': False, 'case_date': datetime.datetime(2012, 8, 5, 3, 43), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 200007, 'case_number': 'HV416239', 'crime_id': 74, 'location_id': 68660, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 8, 5, 5, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2016, 2, 4, 6, 33, 39)}  ... displaying 10 of 100000 total bound parameter sets ...  {'case_id': 299998, 'case_number': 'HV573268', 'crime_id': 88, 'location_id': 3748, 'arrest': True, 'domestic': False, 'case_date': datetime.datetime(2012, 11, 23, 1, 20), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 299999, 'case_number': 'HV573287', 'crime_id': 37, 'location_id': 69890, 'arrest': True, 'domestic': True, 'case_date': datetime.datetime(2012, 11, 23, 1, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)})

2020-12-18 10:09:45,635 INFO sqlalchemy.engine.base.Engine INSERT INTO dlr6w3.crime_report (case_id, case_number, crime_id, location_id, arrest, domestic, case_date, case_year, updated_on) VALUES (%(case_id)s, %(case_number)s, %(crime_id)s, %(location_id)s, %(arrest)s, %(domestic)s, %(case_date)s, %(case_year)s, %(updated_on)s)
2020-12-18 10:09:45,636 INFO sqlalchemy.engine.base.Engine ({'case_id': 300000, 'case_number': 'HV573276', 'crime_id': 16, 'location_id': 222198, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 11, 22, 16, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 300001, 'case_number': 'HV573265', 'crime_id': 87, 'location_id': 222199, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 11, 23, 0, 56), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 300002, 'case_number': 'HV573169', 'crime_id': 16, 'location_id': 222200, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 11, 22, 18, 40), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 300003, 'case_number': 'HV573279', 'crime_id': 81, 'location_id': 222201, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 11, 22, 16, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 300004, 'case_number': 'HV573179', 'crime_id': 111, 'location_id': 71491, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 11, 22, 23, 15), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 300005, 'case_number': 'HV573298', 'crime_id': 37, 'location_id': 222202, 'arrest': True, 'domestic': True, 'case_date': datetime.datetime(2012, 11, 23, 1, 45), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 300006, 'case_number': 'HV573285', 'crime_id': 82, 'location_id': 222203, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 11, 23, 1, 35), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}, {'case_id': 300007, 'case_number': 'HV573283', 'crime_id': 37, 'location_id': 4109, 'arrest': False, 'domestic': True, 'case_date': datetime.datetime(2012, 11, 23, 1, 45), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 10, 15, 50, 1)}  ... displaying 10 of 36149 total bound parameter sets ...  {'case_id': 336147, 'case_number': 'HY181590', 'crime_id': 3, 'location_id': 244515, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 4, 1, 0, 1), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 9, 15, 44, 29)}, {'case_id': 336148, 'case_number': 'HY188115', 'crime_id': 3, 'location_id': 244516, 'arrest': False, 'domestic': False, 'case_date': datetime.datetime(2012, 1, 1, 9, 0), 'case_year': 2012, 'updated_on': datetime.datetime(2018, 2, 9, 15, 44, 29)})
2020-12-18 10:09:54,492 INFO sqlalchemy.engine.base.Engine COMMIT

## For each of the tables, show the number of rows in the table using a sql query

## Crime Table
dsa_student=> select COUNT(*) from crime;
 count
-------
   339
(1 row)

## Location Table
dsa_student=> select COUNT(*) from location;
 count
--------
 244517
(1 row)

## Crime Report Table
dsa_student=> select COUNT(*) from crime_report;
 count
--------
 336149
(1 row)

## <center> Part-II ends here</center>